<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/bulma-steps.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/jodit.min.css">

<div class="hero-body">
    <div class="column dashTop">
        <h2 class="title dashTitle" style="color: white !important;">Bulk products</h2>
    </div>
    <br>
    <% include ../partials/adminMenu %>
    <div class="columns">
        <div class="column"></div>
        <div class="column frame is-three-fifths">
            <p class="title">Bulk add products</p>
            <form action="/admin/bulkAdd" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="file" class="input" name="productData">
                </div>
                <div class="field">
                    <input type="text" name="supplier" placeholder="Supplier" class="input">
                </div>
                <div class="field">
                    <div class="select">
                        <select name="from" style="width: 100%;" required>
                            <option disabled selected>Produced in</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="South America">South America</option>
                            <option value="Oceania">Oceania</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="select">
                        <select name="deliversTo" style="width: 100%;" required>
                            <option disabled selected>Delivers</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="South America">South America</option>
                            <option value="Oceania">Oceania</option>
                            <option value="Worldwide">Worldwide</option>
                        </select>
                    </div>
                </div>
                <button class="button is-primary">Submit</button>
            </form>
            <br>
            <p class="title">Bulk remove products</p>
            <form action="/admin/bulkDelete" method="post">
                <div class="field">
                    <div class="select">
                        <select name="supplier" style="width: 100%;" required>
                            <option disabled selected>Supplier</option>
                            <% suppliers.forEach(supplier => { %>
                                <option value="<%= supplier.name %>"><%= supplier.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <button class="button is-primary">Submit</button>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>

<% include ../partials/footer %>