<div class="column adrcol">
    <div class="adr">
        <h2>Bitcoin</h2>
        <div class="address">
            <label class="label adrlabel">Top-up Address</label>
            <input class="input smmargin adradr" placeholder="BTC ADDR" disabled />
        </div>
        
        <form action="/dashboard/addresses" method="POST">
            <div class="address">
                <label class="label adrlabel">Your Address</label>
                <input class="input smmargin adradr" name="btcadr" placeholder="Bitcoin Address" type="text" required />
            </div>
                   
            <div class="control smmargin">
                <button class="button is-primary">Change Address</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="adr">
        <h2>Bitcoin Cash</h2>
        <div class="address">
            <label class="label adrlabel">Top-up Address</label>
            <input class="input smmargin adradr" placeholder="BCH ADDR" disabled />
        </div>
        
        <form action="/dashboard/addresses" method="POST">
            <div class="address">
                <label class="label adrlabel">Your Address</label>
                <input class="input smmargin adradr" name="bchadr" placeholder="Bitcoin Cash Address" type="text" required />       
            </div>

            <div class="control smmargin">
                <button class="button is-primary">Change Address</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="adr">
        <h2>Ethereum</h2>
        <div class="address">
            <label class="label adrlabel">Top-up Address</label>
            <input class="input smmargin adradr" placeholder="ETH ADDR" disabled />
        </div>

        <form action="/dashboard/addresses" method="POST">
            <div class="address">
                <label class="label adrlabel">Your Address</label>
                <input class="input smmargin adradr" name="ethadr" placeholder="Ethereum Address" type="text" required />       
            </div>

            <div class="control smmargin">
                <button class="button is-primary">Change Address</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="adr">
        <h2>Litecoin</h2>
        <div class="address">
            <label class="label adrlabel">Top-up Address</label>
            <input class="input smmargin adradr" placeholder="LTC ADDR" disabled />
        </div>

        <form action="/dashboard/addresses" method="POST">
            <div class="address">
                <label class="label adrlabel">Your Address</label>
                <input class="input smmargin adradr" name="ltcadr" placeholder="Litecoin Address" type="text" required />       
            </div>

            <div class="control smmargin">
                <button class="button is-primary">Change Address</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="adr">
        <h2>Dash</h2>
        <div class="address">
            <label class="label adrlabel">Top-up Address</label>
            <input class="input smmargin adradr" placeholder="DASH ADDR" disabled />
        </div>

        <form action="/dashboard/addresses" method="POST">
            <div class="address">
                <label class="label adrlabel">Your Address</label>
                <input class="input smmargin adradr" name="dashadr" placeholder="DASH Address" type="text" required />       
            </div>

            <div class="control smmargin">
                <button class="button is-primary">Change Address</button>
            </div>
        </form>
    </div>
</div>