<div class="tabs is-centered is-boxed is-toggle">
    <ul>
      <li><a href="/admin" id="currency" class="adminTab">Currency</a></li>
      <li><a href="/admin/users" id="users" class="adminTab">Users</a></li>
      <li><a href="/admin/reports" id="reports" class="adminTab">Reports</a></li>
      <li><a href="/admin/disputes" id="disputes" class="adminTab">Disputes</a></li>
      <li><a href="/admin/blog" id="blog" class="adminTab">Blog</a></li>
      <li><a href="/admin/bulk" id="bulk" class="adminTab">Bulk</a></li>
    </ul>
</div>

<script src="../../dist/js/adminMenu.js"></script>