
<div class="hero-foot">
        <nav class="tabs navi">
            <div class="container">
                <div class="columns">
<div class="column">
    <p class="level-item"><a href="/faq">FAQ</a></p>
</div>
<div class="column">
    <p class="level-item"><a href="/terms-of-service">Terms of Service</a></p>
</div>
<div class="column">
        <p class="level-item"><a href="/gdpr">GDPR</a></p>
</div>
<div class="column">
    <p class="level-item"><a href="/privacy-policy">Privacy Policy</a></p> 
</div>

</div>

<p style="text-align: center">&copy; Deal Your Crypto 2018</p>
            </div>
        </nav>
        </div>

</body>
</html>