        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <p class="level-item"><a href="/faq">FAQ</a></p>
                        </div>
                        <div class="column">
                            <p class="level-item"><a href="/terms-of-service">Terms of Service</a></p>
                        </div>
                        <div class="column">
                                <p class="level-item"><a href="/gdpr">GDPR</a></p>
                        </div>
                        <div class="column">
                            <p class="level-item"><a href="/privacy-policy">Privacy Policy</a></p> 
                        </div>
                    </div>
                    <p class="copyright">&copy; Deal Your Crypto 2019</p>
                </div>
            </nav>
        </div>

        <script src="/dist/js/main.js"></script>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes"></script>

    </body>
</html>