<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deal Your Crypto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="/dist/js/main.js"></script>
</head>
<body>
<div class="hero-head">

    <nav class="level navi navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../dist/img/rollo.png" width="100px" height="30px">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbarMenu">
            <div class="level-left">
                <div class="dropdown categ is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button dd-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Categories</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content categories">
                            <div class="columns">
    
                                <div class="column">
                                    <a href="/categories/Collectibles-Art" class="dropdown-item main-categ" id="collectibles-main">
                                        <strong>Collectibles & Art</strong>
                                    </a>
                                    <a href="/categories/Home-Garden" class="dropdown-item main-categ">
                                        <strong>Home & Garden</strong>
                                    </a>
                                    <a href="/categories/Sporting-Goods" class="dropdown-item main-categ">
                                        <strong>Sporting goods</strong>
                                    </a>
                                    <a href="/categories/Electronics" class="dropdown-item main-categ">
                                        <strong>Electronics</strong>
                                    </a>
                                    <a href="/categories/AutoParts-Accessories" class="dropdown-item main-categ">
                                        <strong>Auto Parts & Accessories</strong>
                                    </a>
                                    <a href="/categories/Toys-Hobbies" class="dropdown-item main-categ">
                                        <strong>Toys & Hobbies</strong>
                                    </a>
                                    <a href="/categories/Fashion" class="dropdown-item main-categ">
                                        <strong>Fashion</strong>
                                    </a>
                                    <a href="/categories/MusicalInstruments-Gear" class="dropdown-item main-categ">
                                        <strong>Musical instruments & gear</strong>
                                    </a>
                                    <a href="/categories/Other" class="dropdown-item main-categ">
                                        <strong>Other categories</strong>
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Collectibles-Art" class="dropdown-item">
                                        <strong>Collectibles & Art</strong>
                                    </a>
                                    <a href="/categories/Collectibles-Art/Collectibles" class="dropdown-item">
                                        Collectibles
                                    </a>
                                    <a href="/categories/Collectibles-Art/Antiques" class="dropdown-item" >
                                        Antiques
                                    </a>
                                    <a href="/categories/Collectibles-Art/SportsMemorabilia" class="dropdown-item">
                                        Sports memorabilia
                                    </a>
                                    <a href="/categories/Collectibles-Art/Art" class="dropdown-item">
                                        Art
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Home-Garden" class="dropdown-item">
                                        <strong>Home & Garden</strong>
                                    </a>
                                    <a href="/categories/Home-Garden/YardGardenOutdoor" class="dropdown-item">
                                        Yard, garden & outdoor
                                    </a>
                                    <a href="/categories/Home-Garden/Crafts" class="dropdown-item" >
                                        Crafts
                                    </a>
                                    <a href="/categories/Home-Garden/HomeImprovement" class="dropdown-item">
                                        Home improvement
                                    </a>
                                    <a href="/categories/Home-Garden/PetSupplies" class="dropdown-item">
                                        Pet supplies
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Sporting-Goods" class="dropdown-item">
                                        <strong>Sporting goods</strong>
                                    </a>
                                    <a href="/categories/Sporting-Goods/OutdoorSports" class="dropdown-item">
                                        Outdoor sports
                                    </a>
                                    <a href="/categories/Sporting-Goods/TeamSports" class="dropdown-item" >
                                        Team sports
                                    </a>
                                    <a href="/categories/Sporting-Goods/ExerciseFitness" class="dropdown-item">
                                        Exercise & fitness
                                    </a>
                                    <a href="/categories/Sporting-Goods/Golf" class="dropdown-item">
                                        Golf
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Electronics" class="dropdown-item">
                                        <strong>Electronics</strong>
                                    </a>
                                    <a href="/categories/Electronics/ComputersTablets" class="dropdown-item">
                                        Computers & tablets
                                    </a>
                                    <a href="/categories/Electronics/CamerasPhoto" class="dropdown-item" >
                                        Cameras & photo
                                    </a>
                                    <a href="/categories/Electronics/TvAudioSurveillance" class="dropdown-item">
                                        TV, audio & surveillance
                                    </a>
                                    <a href="/categories/Electronics/PhonesAndAccessories" class="dropdown-item">
                                        Cell phones & accessories
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/AutoParts-Accessories" class="dropdown-item">
                                        <strong>Auto Parts & Accessories</strong>
                                    </a>
                                    <a href="/categories/AutoParts-Accessories/GpsSecurity" class="dropdown-item">
                                        GPS & Security Devices
                                    </a>
                                    <a href="/categories/AutoParts-Accessories/RadarLaser" class="dropdown-item" >
                                        Radar & Laser Detectors
                                    </a>
                                    <a href="/categories/AutoParts-Accessories/CareDetailing" class="dropdown-item">
                                        Care & Detailing
                                    </a>
                                    <a href="/categories/AutoParts-Accessories/Scooter" class="dropdown-item">
                                        Scooter Parts & Accessories
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Toys-Hobbies" class="dropdown-item">
                                        <strong>Toys & Hobbies</strong>
                                    </a>
                                    <a href="/categories/Toys-Hobbies/RadioControl" class="dropdown-item">
                                        Radio control
                                    </a>
                                    <a href="/categories/Toys-Hobbies/KidsToys" class="dropdown-item" >
                                        Kids toys
                                    </a>
                                    <a href="/categories/Toys-Hobbies/ActionFigures" class="dropdown-item">
                                        Action figures
                                    </a>
                                    <a href="/categories/Toys-Hobbies/DollsBears" class="dropdown-item">
                                        Dolls & bears
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Fashion" class="dropdown-item">
                                        <strong>Fashion</strong>
                                    </a>
                                    <a href="/categories/Fashion/Women" class="dropdown-item">
                                        Women
                                    </a>
                                    <a href="/categories/Fashion/Men" class="dropdown-item" >
                                        Men
                                    </a>
                                    <a href="/categories/Fashion/JewelryWatches" class="dropdown-item">
                                        Jewelry & Watches
                                    </a>
                                    <a href="/categories/Fashion/Shoes" class="dropdown-item">
                                        Shoes
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/MusicalInstruments-Gear" class="dropdown-item">
                                        <strong>Musical instruments & gear</strong>
                                    </a>
                                    <a href="/categories/MusicalInstruments-Gear/Guitar" class="dropdown-item">
                                        Guitar
                                    </a>
                                    <a href="/categories/MusicalInstruments-Gear/ProAudio" class="dropdown-item" >
                                        Pro audio equipment
                                    </a>
                                    <a href="/categories/MusicalInstruments-Gear/String" class="dropdown-item">
                                        String
                                    </a>
                                    <a href="/categories/MusicalInstruments-Gear/StageLightningEffects" class="dropdown-item">
                                        Stage lightning & effects
                                    </a>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <a href="/categories/Other" class="dropdown-item">
                                        <strong>Other categories</strong>
                                    </a>
                                    <a href="/categories/Other/VideoGamesConsoles" class="dropdown-item">
                                        Video games & consoles
                                    </a>
                                    <a href="/categories/Other/HealthBeauty" class="dropdown-item" >
                                        Health & beauty
                                    </a>
                                    <a href="/categories/Other/Baby" class="dropdown-item">
                                        Baby
                                    </a>
                                    <a href="/categories/Other/BusinessIndustrial" class="dropdown-item">
                                        Business & industrial
                                    </a>
                                </div>
                            </div>                                               
                        </div>
                    </div>
                </div>
                <div class="level-item search">
                    <div class="field has-addons">
                        <p class="control searchbar">
                            <input class="input search-input" type="text" placeholder="Look for anything">
                        </p>
                        <div class="select ">
                            <select class="search-select">
                                <option value=""selected>All categories</option>
                                <option value="" disabled>--------------------------------</option>
                                <option value="">Collectibles & Art</option>
                                <option value="">Home & Garden</option>
                                <option value="">Sporting Goods</option>
                                <option value="">Electronics</option>
                                <option value="">Auto Parts & Accessories</option>
                                <option value="">Toys & Hobbies</option>
                                <option value="">Fashion</option>
                                <option value="">Musical Instruments & Gear</option>
                                <option value="">Other Categories</option>
                            </select> 
                        </div>
                        <p class="control">
                            <button class="button src-btn">
                            Search
                            </button>
                        </p>
                        
                    </div>
                </div>
            </div>
    
            <div class="level-right navbar-end">
                <% if(!currentUser){ %>
                    <p class="level-item"><a href="/login" class="header-link">Login</a></p>
                    <p class="level-item"><a href="/register" class="header-link">Register</a></p>
                <% } else { %>
                    <div class=" level-item dropdown categ is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button balance-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Balance</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content currencies">
                               <!-- https://github.com/Coinomi/crypto-icons Creative Commons Attribution  -->
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="btc_curr">0.00000</p>
                                    <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="bch_curr">0.00000</p>
                                    <span class="curr_img"><img src="../../dist/img/bitcoincash.png" alt="Bitcoin Cash"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="eth_curr">0.00000</p>
                                    <span class="curr_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="ltc_curr">0.00000</p>
                                    <span class="curr_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="dash_curr">0.00000</p>
                                    <span class="curr_img"><img src="../../dist/img/dash.png" alt="DASH"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <a href="/dashboard/addresses" class="header-link">Top-up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="level-item"><a href="/dashboard" class="header-link">Dashboard</a></p>
                    <p class="level-item"><a href="/logout" class="header-link">Logout</a></p>
                <% } %>
                
                <p class="level-item"><a href="/contact" class="header-link">Contact</a></p>
            </div>
        </div>
    </nav>
</div>
<% if(error && error.length > 0) { %>
<div class="container is-fluid">
    <div class="notification is-danger" role="alert">
        <%= error %>
    </div>
</div>
<% } %>
<% if(success && success.length > 0) { %>
    <div class="container is-fluid">
        <div class="notification is-success" role="alert">
            <%= success %>
        </div>
    </div>
<% } %>