<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deal Your Crypto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="/dist/js/main.js"></script>
</head>
<body>
<div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>

    <nav class="level navi">

        <div class="level-left">
            <p class="level-item"><a href="/">Home</a></p>
            <div class="dropdown categ">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Categories</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="columns">

                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>
                            
                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>

                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>
                            
                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>

                            <div class="column">
                                    <a href="#" class="dropdown-item">
                                        <strong>Dropdown item</strong>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item" >
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                            </div>

                        </div>      
                        <div class="columns">
                                <div class="column">
                                        <a href="#" class="dropdown-item">
                                            <strong>Dropdown item</strong>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item" >
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                </div>
                                
                                <div class="column">
                                        <a href="#" class="dropdown-item">
                                            <strong>Dropdown item</strong>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item" >
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                </div>
        
                                <div class="column">
                                        <a href="#" class="dropdown-item">
                                            <strong>Dropdown item</strong>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item" >
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Dropdown item
                                        </a>
                                </div>
        
                        </div>                                               
                    </div>
                </div>
            </div>
            <div class="level-item search">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" placeholder="Look for anything">
                    </p>
                    <div class="select ">
                        <select>
                            <option value="" disabled selected>Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select> 
                    </div>
                    <p class="control">
                        <button class="button">
                        Search
                        </button>
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="level-right">
            <p class="level-item"><a href="/login">Login</a></p>
            <p class="level-item"><a href="/register">Register</a></p>
            <p class="level-item"><a href="/contact">Contact</a></p>
        </div>
        

    </nav>
</div>