<div class="column" >
    <form action="/dashboard" method="POST">
        <input class="input smmargin" name="name" placeholder="Name" type="text" required />
        
        <div class="filencat">
            <div class="select">
                <select>
                    <option disabled selected>Category</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                </select>
            </div>

            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name">
                        Add accepted extensions
                        </span>
                </label>
            </div>
        </div>
        
        <textarea name="description" class="textarea" placeholder="Description"></textarea>
        <input class="input smmargin" name="price" placeholder="Price ($)" type="number" required />
        <h4 style="margin-top: 1vh;">Accepted currencies</h4>
        <label class="checkbox">
            <input name="btc" type="checkbox">
                BTC
        </label>
        <label class="checkbox">
            <input name="bch" type="checkbox">
                BCH
        </label>
        <label class="checkbox">
            <input name="eth" type="checkbox">
                ETH
        </label>
        <label class="checkbox">
            <input name="ltc" type="checkbox">
                LTC
        </label>
        <label class="checkbox">
            <input name="dash" type="checkbox">
                DASH
        </label>
        <div class="control smmargin">
            <button class="button is-primary">Create</button>
        </div>
        
    </form>
        
        
</div>
