<div class="column" >
    
        <div style="overflow-x: auto">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <!-- Maybe make the image disappar on mobiles -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price ($)</th>
                    <th>Currency</th>
                    <th></th>
                </tr>
            </thead>
    
            <tbody>
                <!-- Must programmatically insert rows after db query -->
                
                <tr>
                    <th>1</th>
                    <th class="tableimg" height="100" style="background-image: url('../../dist/img/blanc.jpg')"></th>
                    <td>Kappa</td>
                    <td>25</td>
                    <td>
                        BTC
                    </td>
                    <td><a href="/dashboard/view"><button class="button is-primary">View</button></a></td>
                </tr>
                <tr>
                    <th>2</th>
                    <th class="tableimg" height="100" style="background-image: url('../../dist/img/blanc.jpg')"></th>
                    <td>Kappa</td>
                    <td>25</td>
                    <td>
                        ETH
                    </td>
                    <td><a href="/dashboard/view"><button class="button is-primary">View</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
        
    </div>
    