<div class="column is-one-fifth">
    <nav class="panel sidebar">
            <p class="panel-heading">
              Dashboard
            </p>
            <a id="settings" class="panel-block" href="/dashboard">
              <span class="panel-icon">
                <i class="fas fa-cogs" aria-hidden="true"></i>
              </span>
              General
            </a>
            <a id="addresses" class="panel-block" href="/dashboard/addresses">
              <span class="panel-icon">
                <i class="fas fa-sitemap" aria-hidden="true"></i>
              </span>
              Addresses
            </a>
            <a id="messages" class="panel-block" href="/dashboard/messages">
              <span class="panel-icon">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
              Messages
            </a>
            <a id="tokens" class="panel-block" href="/dashboard/tokens">
              <span class="panel-icon">
                <i class="fas fa-coins" aria-hidden="true"></i>
              </span>
              Tokens
            </a>
            <a id="new" class="panel-block" href="/dashboard/new">
              <span class="panel-icon">
                <i class="fas fa-plus-square" aria-hidden="true"></i>
              </span>
              New Deal
            </a>
            <a id="open" class="panel-block" href="/dashboard/open?page=1">
              <span class="panel-icon">
                <i class="fas fa-folder-open" aria-hidden="true"></i>
              </span>
              Open Deals
            </a>
            <a id="closed" class="panel-block" href="/dashboard/closed?page=1">
              <span class="panel-icon">
                <i class="fas fa-check" aria-hidden="true"></i>
              </span>
              Closed Deals
            </a>
            <a id="purchases" class="panel-block" href="/dashboard/purchases?page=1">
              <span class="panel-icon">
                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
              </span>
              Purchases
            </a>
            
          </nav>
        </div>
    
    <script src="../../dist/js/sidebar.js"></script>