<nav class="panel sidebar">
        <p class="panel-heading">
          Dashboard
        </p>
        
        <a class="panel-block" href="/dashboard">
          <span class="panel-icon">
            <i class="fas fa-cogs" aria-hidden="true"></i>
          </span>
          Settings
        </a>
        <a class="panel-block" href="/dashboard/addresses">
          <span class="panel-icon">
            <i class="fas fa-sitemap" aria-hidden="true"></i>
          </span>
          Addresses
        </a>
        <a class="panel-block" href="/dashboard/tokens">
          <span class="panel-icon">
            <i class="fas fa-coins" aria-hidden="true"></i>
          </span>
          DYC-Coins
        </a>
        <a class="panel-block" href="/dashboard/new">
          <span class="panel-icon">
            <i class="fas fa-plus-square" aria-hidden="true"></i>
          </span>
          New Deal
        </a>
        <a class="panel-block" href="/dashboard/open">
          <span class="panel-icon">
            <i class="fas fa-folder-open" aria-hidden="true"></i>
          </span>
          Open Deals
        </a>
        <a class="panel-block" href="/dashboard/closed">
          <span class="panel-icon">
            <i class="fas fa-check" aria-hidden="true"></i>
          </span>
          Closed Deals
        </a>
        <a class="panel-block" href="/dashboard/purchases">
          <span class="panel-icon">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
          </span>
          Purchases
        </a>
        
      </nav>
