<link rel="stylesheet" href="../../dist/css/slideshow.css">

<div class="mySlides fade">
    <div class="columns slider">
        <a href="#">
            <div class="slider-image"><img src="../../dist/img/collection2.png" style="height: 100%; width:100%; object-fit: contain;"></div></a>
    </div>
</div>
    
<div class="slider-slides">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
</div>
  
<script src="../../dist/js/slideshow.js"></script>