<link rel="stylesheet" href="../../dist/css/slideshow.css">

<div class="slideshow-container" style="text-align: center;">

    <!-- <div class="mySlides fade">
        <div class="columns">
            <div class="column" style="background-image: url('../../dist/img/blanc.jpg'); background-size: cover; background-position: center;">
            </div>
            <div class="column">
                <p class="title">Name</p>
                <hr />
                <p class="title">Currencies</p>
                <img src="../../dist/img/bitcoin.png" alt="Bitcoin" id="btcimg">
                <img src="../../dist/img/bitcoincash.png" alt="BitcoinCash" class="new_cccy gray" id="bchimg">
                <img src="../../dist/img/ethereum.png" alt="ethereum" class="new_cccy gray" id="ethimg">
                <img src="../../dist/img/litecoin.png" alt="Litecoin" class="new_cccy gray" id="ltcimg">
                <img src="../../dist/img/dash.png" alt="DASH" class="new_cccy gray" id="dashimg">
                <hr />
                <a href="#"><button class="button is-primary">View</button></a>
            </div>
        </div>
        
    </div> -->
    
    <div class="mySlides fade">
        <div class="columns slider">
            <a href="#">
                <div class="slider-image"><img src="../../dist/img/blanc.jpg" style="height: 100%; width:100%; object-fit: contain;"></div></a>
                <a href="#"><div class="column">
                    <div class="slider-name">
                        <p class="title slidetext">asdfadsfad fads fd fds fasd fads fdsafds 34 321 4213 4123 12341234 124321 4123 41234123412412 34123 4123 4123 4123 4123 4123 41234 123 41234 </p>
                    </div>
                    <hr class="slider-separator" /> 
                    <div class="slider-currencies">
                        <p class="title">Sells for</p>
                        <img src="../../dist/img/bitcoin.png" class="slider-imgs" alt="Bitcoin" id="btcimg">
                        <img src="../../dist/img/bitcoincash.png" class="slider-imgs"  alt="BitcoinCash" class="new_cccy gray" id="bchimg">
                        <img src="../../dist/img/ethereum.png" class="slider-imgs"  alt="ethereum" class="new_cccy gray" id="ethimg">
                        <img src="../../dist/img/litecoin.png" class="slider-imgs"  alt="Litecoin" class="new_cccy gray" id="ltcimg">
                        <img src="../../dist/img/dash.png" class="slider-imgs"  alt="DASH" class="new_cccy gray" id="dashimg">
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <!-- <div class="mySlides fade">
        <div class="columns">
            <div class="column" style="background-image: url('../../dist/img/blanc.jpg'); background-size: cover; background-position: center;">
            </div>
            <div class="column">
                <p class="title">Name</p>
                <hr />
                <p class="title">Currencies</p>
                <img src="../../dist/img/bitcoin.png" alt="Bitcoin" id="btcimg">
                <img src="../../dist/img/bitcoincash.png" alt="BitcoinCash" class="new_cccy gray" id="bchimg">
                <img src="../../dist/img/ethereum.png" alt="ethereum" class="new_cccy gray" id="ethimg">
                <img src="../../dist/img/litecoin.png" alt="Litecoin" class="new_cccy gray" id="ltcimg">
                <img src="../../dist/img/dash.png" alt="DASH" class="new_cccy gray" id="dashimg">
                <hr />
                <a href="#"><button class="button is-primary">View</button></a>
            </div>
        </div>
    </div> -->
    <!-- Buttons not working yet -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
    
</div>
    <br>
    
<div class="slider-slides">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
</div>
  
<script src="../../dist/js/slideshow.js"></script>