<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="hero-body">
    <div class="container content">
        <div class="columns">
            <% include ../partials/sidebar %>

            <div class="column">
                <form action="/dashboard" method="POST" enctype="multipart/form-data">
                    <input class="input smmargin" name="name" placeholder="Name" type="text" required />
                    
                    <div class="filencat">
                        <div class="select">
                            <select type="text" name="category">
                                <option disabled selected>Categories</option>
                                <option disabled>Collectibles & Art</option>
                                <option value="collectibles">Collectibles</option>
                                <option value="antiques">Antiques</option>
                                <option value="sportsmemorabilia">Sports Memorabilia</option>
                                <option value="art">Art</option>
                                <option disabled>Home & Garden</option>
                                <option value="yardgardenoutdoor">Yard, Garden & Outdoor</option>
                                <option value="crafts">Crafts</option>
                                <option value="homeimprovement">Home Improvement</option>
                                <option value="petsupplies">Pet Supplies</option>
                                <option disabled>Sporting Goods</option>
                                <option value="outdoorsports">Outdoor Sports</option>
                                <option value="teamsports">Team Sports</option>
                                <option value="exercisefitness">Exercise & Fitness</option>
                                <option value="golf">Golf</option>
                                <option disabled>Electronics</option>
                                <option value="computerstablets">Computers & Tablets</option>
                                <option value="camerasphoto">Cameras & Photo</option>
                                <option value="tvaudiosurveillance">TV, Audio & Surveillance</option>
                                <option value="phonesandaccessories">Cell Phones & Accessories</option>
                                <option disabled>Auto Parts & Accessories</option>
                                <option value="gpssecurity">GPS & Security Devices</option>
                                <option value="radarlaser">Radar & Laser Detectors</option>
                                <option value="caredetailing">Care & Detailing</option>
                                <option value="scooter">Scooter Parts & Accessories</option>
                                <option disabled>Toys & Hobbies</option>
                                <option value="radiocontrol">Radio Control</option>
                                <option value="kidstoys">Kids Toys</option>
                                <option value="actionfigures">Action Figures</option>
                                <option value="dollsbears">Dolls & Bears</option>
                                <option disabled>Fashion</option>
                                <option value="women">Women</option>
                                <option value="men">Men</option>
                                <option value="jewerlywatches">Jewerly & Watches</option>
                                <option value="shoes">Shoes</option>
                                <option disabled>Musical instruments & gear</option>
                                <option value="guitar">Guitar</option>
                                <option value="proaudio">Pro Audio Equipment</option>
                                <option value="string">String</option>
                                <option value="stagelightningeffects">Stage Lightning & Effects</option>
                                <option disabled>Other categories</option>
                                <option value="videogamesconsoles">Video Games & Consoles</option>
                                <option value="healthbeauty">Health & Beauty</option>
                                <option value="baby">Baby</option>
                                <option value="businessindustrial">Business & Industrial</option>
                            </select>
                        </div>
            
                        <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="image" accept="image/*">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                    <span class="file-name">
                                    .jpeg .jpg .png
                                    </span>
                            </label>
                        </div>
                    </div>
                    
                    <textarea name="description" class="textarea" placeholder="Description"></textarea>
                    <input class="input smmargin" name="price" placeholder="Price ($)" type="number" required />
                    
                    <hr />
                    <h4 style="margin-top: 1vh;">Accepted currencies</h4>
                    <label class="checkbox">
                        <input name="accepted" type="checkbox" value="BTC">
                            BTC
                    </label>
                    <label class="checkbox">
                        <input name="accepted" type="checkbox" value="BCH">
                            BCH
                    </label>
                    <label class="checkbox">
                        <input name="accepted" type="checkbox" value="ETH">
                            ETH
                    </label>
                    <label class="checkbox">
                        <input name="accepted" type="checkbox" value="LTC">
                            LTC
                    </label>
                    <label class="checkbox">
                        <input name="accepted" type="checkbox" value="DASH">
                            DASH
                    </label>
                    <hr />
                    <h4 style="margin-top: 1vh;">Feature your deal</h4>
                    <h5>You have <%= user.feature_tokens %> DYC-Coins</h5>
                    <table class="table is-hoverable is-bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Duration</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Subcategory feature</td>
                                <td>The deal will be shown in the first 5 deals on a subcategory page.</td>
                                <td>14 days</td>
                                <td>5 DYC-Coins</td>
                                <td>
                                    <input name="feat_1" type="checkbox" value="5">
                                </td>
                            </tr>
                            <tr>
                                <td>Front-page feature</td>
                                <td>The deal will be shown on the front-page of the website.</td>
                                <td>7 days</td>
                                <td>15 DYC-Coins</td>
                                <td>
                                    <input name="feat_2" type="checkbox" value="15">
                                </td>
                            </tr>
                            <tr>
                                <td>Slider feature</td>
                                <td>The deal will be shown on the front-page slider.</td>
                                <td>3 days</td>
                                <td>20 DYC-Coins</td>
                                <td>
                                    <input name="feat_3" type="checkbox" value="20">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="control smmargin">
                        <button class="button is-primary">Create</button>
                    </div>
                    
                </form>
                    
                
            </div>
            
        </div>
    </div>
    
</div>

<% include ../partials/footer %>