<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">
<!-- <script src="../../dist/js/tokens.js"></script> -->
<div class="columns">
    <% include ../partials/sidebar %>

    <div class="column dashboard-right" >
        <div class="container is-fluid">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div class="dashTop column">
            <h2 class="title">Tokens</h2>
        </div>
        <div class="columns container">
            <div class="column is-one-third">
                <div class="feature-div frame">
                    <h2 class="title is-3" style="font-weight: 600;">You have <%= user.feature_tokens %> Tokens</h2>
                    <form action="/dashboard/tokens/0" method="POST">
                        <div id="btc-fields" class="fields">
                            <div class="currency" style="padding-top: 3vh; justify-content: center !important;">
                                <p>Price per token: <span id="btcTokenPrice"><%= tokenPrices[0] %></span></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>
                            <input class="input inputTokens" id="btc-tokens" type="number" name="tokensNr" placeholder="Number of tokens"
                                min="0" max="500" required style="margin-top: 3vh;">
                            <div class="currency" style="padding-top: 3vh; justify-content: center !important;">
                                <p>Total price: <span id="btcPrice" class="tPrice">0</span></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>                            
                            <button class="button is-primary is-rounded" style="margin-top: 3vh;">Purchase Tokens</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column tokens-faq">
                <div class="frame">
                    <h3 class="title is-4">What is a feature token?</h3>
                    <h4 class="title is-5">The feature token is a type of currency used to promote deals on the marketplace</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">How can I promote my deal?</h3>
                    <h4 class="title is-5">You can do so when creating the deal or afterwards, from the edit page.</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">Are there multiple levels of promotion?</h3>
                    <h4 class="title is-5">Yes, we offer category and search promotion and front-page promotion</h4>
                </div>
            </div>
        </div>     
    </div>
</div>

<% include ../partials/footer %>

<script src="../../dist/js/dashboard_tokens.js"></script>