<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">

    <div class="columns">
            <% include ../partials/sidebar %>
            <div class="column dashboard-right">
                <div class="columns">
                   <div class="column"></div>
                <div class="column is-three-fifths">
                    <div class="dashTop column">
                        <h1 class="title">New Deal</h1>
                    </div>
                    <br>
                    <form action="/dashboard/new/<%= csrfToken %>/<%= csrfSecret %>" method="POST" enctype="multipart/form-data">
                        <div class="container is-fluid">
                            <% if(errors){ %>
                                <div class="notification is-danger" role="alert"> 
                                <% errors.forEach(function( err){ %>
                                    <%= err.msg %><br>
                                <% }) %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                            <input class="input" style="width: 90%; " name="product[name]" placeholder="Name" type="text" required />
                            <div class="select cont-select catSelectLeft">
                                <select type="text" name="product[category][0]" id="firstCat" style="width: 100%;" required>
                                    <option disabled selected>Main Category</option>
                                    <option value="Collectibles & Art">Collectibles & Art</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion & Beauty">Fashion & Beauty</option>
                                    <option value="Home Improvement">Home Improvement</option>
                                    <option value="Leisure Time">Leisure Time</option>
                                    <option value="Mothers & Babies">Mothers & Babies</option>
                                    <option value="Pet Supplies">Pet Supplies</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Sports & Outdoors">Sports & Outdoors</option>
                                    <option value="Vehicles">Vehicles</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectCenter">
                                <select type="text" name="product[category][1]" id="secondCat" style="width: 100%" required>
                                    <option disabled selected>Secondary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectRight">
                                <select type="text" name="product[category][2]" id="thirdCat" style="width: 100%" required>
                                    <option disabled selected>Tertiary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select" style="width: 90% !important;">
                                <select type="text" name="product[condition]" style="width: 100%" required>
                                    <option value="Not Specified" disabled selected>Condition</option>
                                    <option value="Brand New">Brand New</option>
                                    <option value="Like New">Like New</option>
                                    <option value="Refurbished">Refurbished</option>
                                    <option value="Used">Used</option>
                                    <option value="Broken or Scrap">Broken or Scrap</option>
                                </select>
                            </div>
                            <textarea name="product[description]" class="textarea" placeholder="Description"></textarea>
                            <br>     
                            <div style="display: flex; justify-content: space-evenly; margin-top: 1vh; align-items: center;">
                                <div>
                                    <label id="repeatableLabel" for="repeatable"><i class="fas fa-redo fa-5x"></i></label>
                                    <input id="repeatable" name="product[repeatable]" type="checkbox" value="true" hidden>
                                </div>
                                <div>
                                    <p class="title is-4" style="font-weight: 100;">Repeatable Deal</p>
                                    <p class="subtitle is-6">The product won't disappear from the market after you sell it.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                            <div class="file-upload">
                                <div>
                                    <label for="upload[0]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label for="upload[1]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label for="upload[2]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label for="upload[3]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div>
                                    <label for="upload[4]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>                                     
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">Price</h4>
                            <div class="field">
                                <p class="control has-icons-left smmargin" style="margin: auto;">
                                    <input class="input" id="btc-price" name="product[btc_price]" placeholder="Price (BTC)" type="number" step=any />
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-bitcoin" style="color: orange;"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text">Promote your deal</h4>
                            <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                            <table class="table is-hoverable is-bordered new-table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Duration</th>
                                        <th>Cost</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Subcategory feature</td>
                                        <td>The deal will be shown in the first 5 deals on a subcategory page.</td>
                                        <td>14 days</td>
                                        <td>5 tokens</td>
                                        <td>
                                            <input name="product[feat_1]" type="checkbox" id="feat_1" class="is-checkradio is-info is-large" value="1">
                                            <label for="feat_1"></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Front-page feature</td>
                                        <td>The deal will be shown on the front-page of the website.</td>
                                        <td>7 days</td>
                                        <td>15 tokens</td>
                                        <td>
                                            <input name="product[feat_2]" type="checkbox" id="feat_2" class="is-checkradio is-info is-large" value="2">
                                            <label for="feat_2"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="control smmargin" style="margin: auto; margin-top: 2vh;">
                            <button class="button is-primary">Create</button>
                        </div>
                    </form>                
                </div>
                <div class="column"></div> 
                </div>
                
            </div>
        
</div>
<% include ../partials/footer %>

<script src="../../dist/js/dashboard_new.js"></script>