<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="container content">
    <div class="columns">
        <% include ../partials/sidebar %>

        <div class="column" >
    
            <div style="overflow-x: auto">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <!-- Maybe make the image disappar on mobiles -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price ($)</th>
                        <th>Currencies</th>
                        <th></th>
                    </tr>
                </thead>
        
                <tbody>
                    <!-- Must programmatically insert rows after db query -->
                    
                    <tr>
                        <th id="dealid">1</th>
                        <th class="tableimg" height="100" style="background-image: url('../../dist/img/blanc.jpg')"></th>
                        <td>Kappa</td>
                        <td>25</td>
                        <td>
                            <ul class="currencies">
                                <li>BTC</li>
                                <li>BCH</li>
                                <li>ETH</li>
                                <li>LTC</li>
                                <li>DASH</li>
                            </ul>
                        </td>
                        <!-- Must make this work with IDs, maybe make script that takes the id
                             Would limit the nr of deals seen to just a few though -->
                        <td><a href='/dashboard/edit'><button class="button is-primary">Edit</button></a></td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th class="tableimg" height="100" style="background-image: url('../../dist/img/blanc.jpg')"></th>
                        <td>Kappa</td>
                        <td>25</td>
                        <td>
                            <ul class="currencies">
                                <li>BTC</li>
                                <li>BCH</li>
                                <li>ETH</li>
                                <li>LTC</li>
                                <li>DASH</li>
                            </ul>
                        </td>
                        <td><a href="/dashboard/edit"><button class="button is-primary">Edit</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        </div>
        
    </div>
</div>
    


<% include ../partials/footer %>