<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns" style="color: orange;">
    
        <% include ../partials/sidebar %>

        <div class="column dashboard-right" style="">
            <div class="columns" style="justify-content: space-evenly">
                <a href="" class="column is-two-fifths">
                    <div class="column columns messageItem">
                            <div class="column is-one-quarter">
                                <img src="../../dist/img/rollo.png"  style="max-height: 200px; width: auto;" class="open-img">
                            </div>
                            <div class="column prod_info ">
                                <p class="title is-5">Name</p>
                                <p class="title is-5">Deal: Product name</p>
                                <p class="subtitle">Last message: XX/YY/ZZ HH:MM:SS</p>
                            </div>
                    </div>
                </a>
                <a href="" class="column is-two-fifths">
                    <div class="column columns messageItem">
                        <div class="column is-one-quarter">
                            <img src="../../dist/img/rollo.png"  style="max-height: 200px; width: auto;" class="open-img">
                        </div>
                        <div class="column prod_info ">
                            <p class="title is-5">Name</p>
                            <p class="title is-5">Deal: Product name</p>
                            <p class="subtitle">Last message: XX/YY/ZZ HH:MM:SS</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</div>

<% include ../partials/footer %>