<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns" style="color: orange;">
    
        <% include ../partials/sidebar %>
   

    <div class="column dashboard-right">
        <h2 class="title">Account Details</h2>
        <hr>
        <form action="" method="POST">
            <p class="subtitle">Personal Details</p>
            <div class="column is-three-fifths" style="margin: auto;">
                <div class="level">
                    <input class="input" name="name" placeholder="Full Name*" type="text" required />
                </div>
                <div class="level">
                    <div class="column select cont-select" style="padding: 0 !important">
                        <select name="country" class="countries" id="countryId" style="width: 100%;">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="column select dash-select" style="padding-top: 0 !important">
                        <select name="state" class="states" id="stateId" style="width: 100%;">
                            <option value="">Select State</option>
                        </select>
                    </div>
                    <div class="column select cont-select" style="padding: 0 !important">
                        <select name="city" class="cities" id="cityId" style="width: 100%;">
                        <option value="">Select City</option>
                        </select>
                    </div>
                </div>
               <div class="level">
                    <div class="columns level-item">
                        <div class="column is-three-fifths">
                            <input class="input" name="adrlin1" placeholder="Address Line 1* (Street name, number, etc.)" type="text" required />
                        </div>
                        <div class="column">
                            <input class="input" name="zip" type="number" placeholder="ZIP Code*" required />
                        </div>
                    </div>   
               </div>
                             
                <div class="level">
                    <input class="input" name="adrlin2" placeholder="Address Line 2" type="text"/>
                </div>

                <div class="level">
                    <div class="columns level-item">
                        <div class="column">
                            <!-- Every user will have a default profile pic  -->
                            <img src="../../dist/img/rollo.png" class="profilepic">
                        </div>
                        <div class="column">
                            <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="image" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a profile picture
                                    </span>
                                </span>
                                <span class="file-name">
                                    .jpeg .jpg .png
                                </span>
                            </label>
                        </div>
                        </div>
                    </div>
                </div>
                
               <button class="button is-primary">Submit</button>

            </div>       
        </form>
        <a href="/profile/<%= user._id %>/view"><button class="button is-primary">View Profile</button></a>
        <hr>
        <h2 class="subtitle">Credentials</h2>
        <div class="columns">
            <div class="column chpw">
                <h2>Change Password</h2>
                <form action="/forgot" method="POST">
                    <input class="input smmargin" name="email" value="<%= user.email %>" type="hidden" required />
                    <div class="control smmargin">
                        <button class="button is-primary">Click here to change your Password</button>
                    </div>
                </form>
            </div>
            <div class="column chemail">
                <h2>Change Email Address</h2>
                <form action="/forgotemail" method="POST">
                    <input class="input smmargin" name="email" value="<%= user.email %>" type="hidden" required />
                    <div class="control smmargin">
                        <button class="button is-primary">Click here to change your Email</button>
                    </div>
                </form>
            </div> 
        </div>

        
    </div>
</div>

<% include ../partials/footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/countrystatecity.js"></script>