<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">
<!-- <script src="../../dist/js/tokens.js"></script> -->
<div class="columns">
    <% include ../partials/sidebar %>

    <div class="column" >
        <div class="container is-fluid" style="margin-top: 1vh;">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div class="dashTop column">
            <h2 class="title">Tokens</h2>
        </div>
        <div class="columns">
            <div class="column">
                <div class="feature-div frame">
                    <h2>You have <%= user.feature_tokens %> Tokens</h2>
                    <div class="sel_curr" style="padding-top: 3vh;">
                        <label class="img-check ">
                            <img src="../../dist/img/bitcoin.png" alt="Bitcoin" class="token-currency" id="btcimg">
                            <input id="btc-check" type="radio" name="currency" class="curr_checkbox" value="0" checked required>
                        </label>
                    </div>
                    <form action="/dashboard/tokens/0" method="POST">
                        <div id="btc-fields" class="fields">
                            <p style="padding-top: 3vh;">Price per token: <span id="btcTokenPrice"><%= tokenPrices[0] %></span> BTC</p>
                            <input class="input inputTokens" id="btc-tokens" type="number" name="tokensNr" placeholder="Number of tokens"
                                min="0" max="500" required style="margin-top: 3vh;">
                            <p style="padding-top: 3vh;">Total price: <span id="btcPrice" class="tPrice">0</span> BTC</p>
                            <button class="button is-primary" style="margin-top: 3vh;">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column tokens-faq">
                <div class="frame">
                    <h3 class="title is-4">What is a feature token?</h3>
                    <h4 class="title is-5">The feature token is a type of currency used to promote deals on the marketplace</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">How can I promote my deal?</h3>
                    <h4 class="title is-5">You can do so when creating the deal or afterwards, from the edit page.</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">Are there multiple levels of promotion?</h3>
                    <h4 class="title is-5">Yes, we offer category and search promotion and front-page promotion</h4>
                </div>
            </div>
        </div>     
    </div>
</div>

<% include ../partials/footer %>

<script src="../../dist/js/dashboard_tokens.js"></script>