<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="container content">
    <div class="columns">
        <% include ../partials/sidebar %>

        <% include ../partials/edit %>
    </div>
</div>
    


<% include ../partials/footer %>