<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">
<link rel="stylesheet" href="../../dist/css/bulma-pricingtable.min.css">
<link rel="stylesheet" type="text/css" href="../../dist/css/Chart.min.css">
<div class="columns" style="overflow: hidden; margin: auto;">
    <% include ../partials/sidebar %>

    <div class="column dashboard-right smallerCenter" >
        <div class="container is-fluid">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-fifths">
                <div class="dashTop column">
                    <h2 class="title">Premium</h2>
                </div>
                <br>
                <% if (premium) { %>
                    <div class="frame smallerCenter">
                        <div class="tabs is-centered is-boxed">
                            <ul>
                                <li class="tabTrigger is-active" id="categoryPopularityTrigger"><a class="link">Category popularity</a></li>
                                <li class="tabTrigger" id="productPopularityTrigger"><a class="link">Product popularity</a></li>
                            </ul>
                        </div>
                        <div class="analytics">
                            <p class="title is-5">Category popularity is determined by the number of searches where the user selected to look into that category</p>
                            <div class="select cont-select catSelectLeft premiumSelect">
                                <select type="text" name="firstCategory" id="firstCategory" style="width: 100%;" required>
                                    <option disabled selected>Main Category</option>
                                    <option value="all">All Categories</option>
                                    <option value="Collectibles & Art">Collectibles & Art</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion & Beauty">Fashion & Beauty</option>
                                    <option value="Home Improvement">Home Improvement</option>
                                    <option value="Leisure Time">Leisure Time</option>
                                    <option value="Mothers & Babies">Mothers & Babies</option>
                                    <option value="Pet Supplies">Pet Supplies</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Sports & Outdoors">Sports & Outdoors</option>
                                    <option value="Vehicles">Vehicles</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectLeft premiumSelect">
                                <select type="text" name="timeFrame" id="timeframe" style="width: 100%;" required>
                                    <option disabled selected>Time Frame</option>
                                    <option value="7">7 days</option>
                                    <option value="14">14 days</option>
                                    <option value="30">One month</option>
                                    <option value="90">3 months</option>
                                    <option value="All">All-time</option>
                                </select>
                            </div>
                            <input type="hidden" name="_csrf" id="csrfToken" value="<%= csrfToken %>">
                            <input type="hidden" name="csrfSecret" id="csrfSecret" value="<%= csrfSecret %>">
                            <br>
                            <button class="button is-primary" id="searchCateg" style="margin: auto;">Search</button>
                            <div id="canvasContainer">
                                <canvas id="categChart" class="hide" width="400" height="200" style="width: 90%; margin-top: 2vh; padding-left: 2vw; padding-right: 2vw;"></canvas>
                            </div>
                        </div>
                        <div class="analytics hide">
                            <p class="title is-5 smallerCenter">Look for the times your products were viewed and how many you've sold so far</p>
                            <div class="select cont-select catSelectLeft premiumSelect">
                                <select type="text" name="firstCategory" id="firstCategoryProd" style="width: 100%;" required>
                                    <option disabled selected>Main Category</option>
                                    <option value="all">All Categories</option>
                                    <option value="Collectibles & Art">Collectibles & Art</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion & Beauty">Fashion & Beauty</option>
                                    <option value="Home Improvement">Home Improvement</option>
                                    <option value="Leisure Time">Leisure Time</option>
                                    <option value="Mothers & Babies">Mothers & Babies</option>
                                    <option value="Pet Supplies">Pet Supplies</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Sports & Outdoors">Sports & Outdoors</option>
                                    <option value="Vehicles">Vehicles</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectLeft premiumSelect">
                                <select type="text" name="timeFrame" id="timeframeProd" style="width: 100%;" required>
                                    <option disabled selected>Time Frame</option>
                                    <option value="7">7 days</option>
                                    <option value="14">14 days</option>
                                    <option value="30">One month</option>
                                    <option value="90">3 months</option>
                                    <option value="All">All-time</option>
                                </select>
                            </div>
                            <br>
                            <button class="button is-primary" id="searchProd" style="margin: auto;">Search</button>
                            <p class="title is-5 hide" id="prodText" style="margin-top: 2vh;">Product views</p>
                            <div id="prodCanvasContainer">
                                <canvas id="prodChart" class="hide" width="400" height="200" style="width: 90%; margin-top: 2vh; padding-left: 2vw; padding-right: 2vw;"></canvas>
                            </div>
                            <p class="title is-5 hide" id="prodSoldText" style="margin-top: 2vh;">Products sold</p>
                            <div id="prodSoldCanvasContainer">
                                <canvas id="prodSoldChart" class="hide" width="400" height="200" style="width: 90%; margin-top: 2vh; padding-left: 2vw; padding-right: 2vw;"></canvas>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="column frame smallerCenter">
                        <h2 class="title">This page is available for Premium Users only</h2>
                        <a class="title link" href="/dashboard/subscription">Check benefits!</a>
                    </div>  
                <% } %>
            </div>
            <div class="column"></div>
        </div>

    </div>
</div>

<% include ../partials/footer %>
<script src="../../dist/js/dashboard_premium.js"></script>
<script src="../../dist/js/Chart.min.js"></script>