<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<script src="../../dist/js/dashboard_new.js"></script>
<link rel="stylesheet" href="../../dist/css/products.css">

    <div class="columns">
            <% include ../partials/sidebar %>
            <div class="column dashboard-right">
                <div class="columns">
                   <div class="column"></div>
                <div class="column is-three-fifths">

                    <form action="/dashboard" method="POST" enctype="multipart/form-data">
                        <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                        <input class="input" name="product[name]" placeholder="Name" type="text" required />
                        <div class="select cont-select">
                            <select type="text" name="product[category]" style="width: 100%;">
                                <option disabled selected>Category</option>
                                <option disabled>Collectibles & Art</option>
                                <option value="collectibles">Collectibles</option>
                                <option value="antiques">Antiques</option>
                                <option value="sportsmemorabilia">Sports Memorabilia</option>
                                <option value="art">Art</option>
                                <option disabled>Home & Garden</option>
                                <option value="yardgardenoutdoor">Yard, Garden & Outdoor</option>
                                <option value="crafts">Crafts</option>
                                <option value="homeimprovement">Home Improvement</option>
                                <option value="petsupplies">Pet Supplies</option>
                                <option disabled>Sporting Goods</option>
                                <option value="outdoorsports">Outdoor Sports</option>
                                <option value="teamsports">Team Sports</option>
                                <option value="exercisefitness">Exercise & Fitness</option>
                                <option value="golf">Golf</option>
                                <option disabled>Electronics</option>
                                <option value="computerstablets">Computers & Tablets</option>
                                <option value="camerasphoto">Cameras & Photo</option>
                                <option value="tvaudiosurveillance">TV, Audio & Surveillance</option>
                                <option value="phonesandaccessories">Cell Phones & Accessories</option>
                                <option disabled>Auto Parts & Accessories</option>
                                <option value="gpssecurity">GPS & Security Devices</option>
                                <option value="radarlaser">Radar & Laser Detectors</option>
                                <option value="caredetailing">Care & Detailing</option>
                                <option value="scooter">Scooter Parts & Accessories</option>
                                <option disabled>Toys & Hobbies</option>
                                <option value="radiocontrol">Radio Control</option>
                                <option value="kidstoys">Kids Toys</option>
                                <option value="actionfigures">Action Figures</option>
                                <option value="dollsbears">Dolls & Bears</option>
                                <option disabled>Fashion</option>
                                <option value="women">Women</option>
                                <option value="men">Men</option>
                                <option value="jewerlywatches">Jewerly & Watches</option>
                                <option value="shoes">Shoes</option>
                                <option disabled>Musical instruments & gear</option>
                                <option value="guitar">Guitar</option>
                                <option value="proaudio">Pro Audio Equipment</option>
                                <option value="string">String</option>
                                <option value="stagelightningeffects">Stage Lightning & Effects</option>
                                <option disabled>Other categories</option>
                                <option value="videogamesconsoles">Video Games & Consoles</option>
                                <option value="healthbeauty">Health & Beauty</option>
                                <option value="baby">Baby</option>
                                <option value="businessindustrial">Business & Industrial</option>
                            </select>
                        </div>
                        <textarea name="product[description]" class="textarea" placeholder="Description"></textarea>     
                        <hr>
                        <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                        <div class="file-upload">
                            <div>
                                <label for="upload[0]" class="file-upload__label">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square"></i>
                                        <i class="far fa-check-square hide"></i>
                                    </span>
                                </label>
                                <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images">
                                <label class="file-delete__label hide">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label for="upload[1]" class="file-upload__label">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square"></i>
                                        <i class="far fa-check-square hide"></i>
                                    </span>
                                </label>
                                <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images">
                                <label class="file-delete__label hide">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label for="upload[2]" class="file-upload__label">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square"></i>
                                        <i class="far fa-check-square hide"></i>
                                    </span>
                                </label>
                                <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images">
                                <label class="file-delete__label hide">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label for="upload[3]" class="file-upload__label">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square"></i>
                                        <i class="far fa-check-square hide"></i>
                                    </span>
                                </label>
                                <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images">
                                <label class="file-delete__label hide">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label for="upload[4]" class="file-upload__label">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square"></i>
                                        <i class="far fa-check-square hide"></i>
                                    </span>
                                </label>
                                <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images">
                                <label class="file-delete__label hide">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                        </div>                                     
                        <hr />
                        <h4 class="new-text" style="margin-bottom: 3vh;">Accepted currencies</h4>
                        <label class="img-check ">
                            <img src="../../dist/img/bitcoin.png" id="btc-check-img" alt="Bitcoin" class="new_cccy gray" id="btcimg">
                            <input id="btc-check" type="checkbox" name="product[acc_btc]" class="curr_checkbox" value="true">
                        </label>
                        <label class="img-check ">
                            <img src="../../dist/img/bitcoincash.png" id="bch-check-img"  alt="BitcoinCash" class="new_cccy gray" id="bchimg">
                            <input id="bch-check" type="checkbox" name="product[acc_bch]"  class="curr_checkbox" value="true">
                        </label>
                        <label class="img-check ">
                            <img src="../../dist/img/ethereum.png" id="eth-check-img"  alt="ethereum" class="new_cccy gray" id="ethimg">
                            <input id="eth-check" type="checkbox" name="product[acc_eth]"  class="curr_checkbox" value="true">
                        </label>
                        <label class="img-check ">
                            <img src="../../dist/img/litecoin.png" id="ltc-check-img"  alt="Litecoin" class="new_cccy gray" id="ltcimg">
                            <input id="ltc-check" type="checkbox" name="product[acc_ltc]"  class="curr_checkbox" value="true">
                        </label>
                        <label class="img-check ">
                            <img src="../../dist/img/dash.png" id="dash-check-img"  alt="DASH" class="new_cccy gray" id="dashimg">
                            <input id="dash-check" type="checkbox" name="product[acc_dash]"  class="curr_checkbox" value="true">
                        </label>
                        <input class="currency-input input smmargin" id="btc-price" name="product[btc_price]" placeholder="Price (BTC)" type="number" step=any />
                        <input class="currency-input input smmargin" id="bch-price"  name="product[bch_price]" placeholder="Price (BCH)" type="number" step=any />
                        <input class="currency-input input smmargin" id="eth-price"  name="product[eth_price]" placeholder="Price (ETH)" type="number" step=any />
                        <input class="currency-input input smmargin" id="ltc-price"  name="product[ltc_price]" placeholder="Price (LTC)" type="number" step=any />
                        <input class="currency-input input smmargin" id="dash-price"  name="product[dash_price]" placeholder="Price (DASH)" type="number" step=any />
                        <hr>
                        <h4 class="new-text">Feature your deal</h4>
                        <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                        <table class="table is-hoverable is-bordered new-table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Duration</th>
                                    <th>Cost</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Subcategory feature</td>
                                    <td>The deal will be shown in the first 5 deals on a subcategory page.</td>
                                    <td>14 days</td>
                                    <td>5 tokens</td>
                                    <td>
                                        <input name="product[feat_1]" type="checkbox" value="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Front-page feature</td>
                                    <td>The deal will be shown on the front-page of the website.</td>
                                    <td>7 days</td>
                                    <td>15 tokens</td>
                                    <td>
                                        <input name="product[feat_2]" type="checkbox" value="15">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="control smmargin">
                            <button class="button is-primary">Create</button>
                        </div>
                    </form>                
                </div>
                <div class="column"></div> 
                </div>
                
            </div>
        
</div>
<% include ../partials/footer %>