<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns">
    <% include ../partials/sidebar %>
    
    <% include ../partials/edit %>
</div>
<% include ../partials/footer %>