<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />

<div class="hero-body">
    <div class="container content">
        <div class="columns">
            <% include ../partials/sidebar %>

            <div class="column">
                <div class="chpw">
                    <h2>Change Password</h2>
                    <form action="/chgpw" method="POST">
                        <input class="input smmargin" name="curr_password" placeholder="Current Password" type="password" required />
                        <input class="input smmargin" name="new_password" placeholder="New Password" type="password" required />
                        <input class="input smmargin" name="rep_password" placeholder="Repeat New Password" type="password" required />
                        <div class="control smmargin">
                            <button class="button is-primary">Change Password</button>
                        </div>
                    </form>
                </div>
                <hr />
                <div class="chemail">
                    <h2>Change Email Address</h2>
                    <form action="/chgemail" method="POST">
                        <input class="input smmargin" name="new_email" placeholder="New Email Address" type="email" required />
                        <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                        <div class="control smmargin">
                            <button class="button is-primary">Change Email</button>
                        </div>
                    </form>
                </div>
                    
        </div>
        </div>
    </div>
    
</div>

<% include ../partials/footer %>