<% include partials/header %>
<div class="hero-body">
    <div class="container content frame">
    <h1 class="title has-text-centered">About Us</h1>
        <div class="column has-text-centered">
            <br>
            <p class="subtitle">
                We are an online marketplace that connects buyers and sellers of any products, with the primary currency used being Bitcoin. 
            </p>
            <p class="subtitle">
                Our website is operated by Deal Your Crypto SRL, founded in May 2019 by Crypto Enthusiasts.
            </p>
            <p class="subtitle">
                The aim of what we built is to provide the best experience for everyone interested in buying and selling products for Bitcoin.
            </p>
            <p class="subtitle">
                We are based in Romania, a humble country in Eastern Europe, and we hope to take over the world!
            </p>
            <hr>
            <h2 class="subtitle">Our Team</h2>
            <div class="deals smallerCenter">
                <div class="columns indexRow" style="margin: auto; padding-left: 1vw; padding-right: 1vw;">
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.linkedin.com/in/mihnea-ionita-090278168/" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-4by3" style="width: auto;">
                                    <img src="https://media.licdn.com/dms/image/C4D03AQHPB3kGVaMIvw/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=p-iLGr8xW-jiV_vysFOTLgNs0zgWdx5oyp2H6LACj1M" class="featimgs" alt="CEO & Founder picture">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">CEO & Founder</p>
                                    </div>
                                </div>
                                <p class="curr_text">Ioniță Mihnea</p>
                            </div> 
                        </a>
                    </div>
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.linkedin.com/in/nicolae-adrian-popa-95a709146/" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-4by3" style="width: auto;">
                                    <img src="https://media.licdn.com/dms/image/C5103AQFb9wTQsyraPg/profile-displayphoto-shrink_800_800/0?e=1567036800&v=beta&t=i0qubZ0XYhoGgNXBJwsOwjSMS_fjR8a3cfgMqPfNQ6I" class="featimgs" alt="CTO picture">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">CTO</p>
                                    </div>
                                </div>
                                <p class="curr_text">Popa Nicolae-Adrian</p>
                            </div> 
                        </a>
                    </div>
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.facebook.com/andreea.negoita.547" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-4by3" style="width: auto;">
                                    <img src="https://scontent.fotp3-3.fna.fbcdn.net/v/t31.0-8/23154748_757658964417687_2747606749777459465_o.jpg?_nc_cat=104&_nc_ht=scontent.fotp3-3.fna&oh=1c60f79fe60205e43f29b2b9cece3146&oe=5D813364" class="featimgs" alt="HR picture">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">HR & Support</p>
                                    </div>
                                </div>
                                <p class="curr_text">Andreea Negoiță</p>
                            </div> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>