<% include partials/header %>
<div class="hero-body">
    <div class="container content frame">
        <h1 class="title has-text-centered">Buy Bitcoin</h1>
        <div class="column has-text-centered">
            <br>
            <p class="subtitle">
                Buying Bitcoin is simple! Simply go to any of the websites below or use <a href="https://www.buybitcoinworldwide.com/" class="link" target="_blank" rel="noreferrer">this website</a> to have a custom guide for your country.
            </p>
            <div class="deals smallerCenter">
                <div class="columns indexRow" style="margin: auto; padding-left: 1vw; padding-right: 1vw;">
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.coinbase.com" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-square" style="width: auto;">
                                    <img src="/dist/img/buy-bitcoin/coinbase.png" class="featimgs" alt="Coinbase Logo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">Coinbase</p>
                                    </div>
                                </div>
                                <p class="curr_text">Coinbase is a secure platform that makes it easy to buy, sell, and store cryptocurrency like Bitcoin, Ethereum, and more.</p>
                            </div> 
                        </a>
                    </div>
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.binance.com/" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-square" style="width: auto;">
                                    <img src="/dist/img/buy-bitcoin/binance.png" class="featimgs" alt="Binance Logo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">Binance</p>
                                    </div>
                                </div>
                                <p class="curr_text">Binance is a global cryptocurrency exchange that provides a platform for trading more than 100 cryptocurrencies.</p>
                            </div> 
                        </a>
                    </div>
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.kraken.com/" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-square" style="width: auto;">
                                    <img src="/dist/img/buy-bitcoin/kraken.png" class="featimgs" alt="Kraken Logo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">Kraken</p>
                                    </div>
                                </div>
                                <p class="curr_text">Kraken is a US-based cryptocurrency exchange, founded in 2011. The exchange provides cryptocurrency to fiat trading, and provides price information to Bloomberg Terminal.</p>
                            </div> 
                        </a>
                    </div>
                    <div class="column card feat_card frame activeDealProduct">
                        <a href="https://www.coinmama.com/" target="_blank" rel="noreferrer">
                            <div class="card-image">
                                <figure class="image featimg is-square" style="width: auto;">
                                    <img src="/dist/img/buy-bitcoin/coinmama.png" class="featimgs" alt="Coinmama Logo">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName" style="overflow: hidden;">Coinmama</p>
                                    </div>
                                </div>
                                <p class="curr_text">Buy Bitcoin and Ethereum with credit card in the fastest, easiest and safest way online! Buying BTC and ETH in 3 simple steps at Coinmama.</p>
                            </div> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="deals smallerCenter">
                    <div class="columns indexRow" style="margin: auto; padding-left: 1vw; padding-right: 1vw;">
                        <div class="column card feat_card frame activeDealProduct">
                            <a href="https://cex.io/" target="_blank" rel="noreferrer">
                                <div class="card-image">
                                    <figure class="image featimg is-square" style="width: auto;">
                                        <img src="/dist/img/buy-bitcoin/cex.png" class="featimgs" alt="CEX.IO Logo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName" style="overflow: hidden;">CEX.IO</p>
                                        </div>
                                    </div>
                                    <p class="curr_text">CEX.IO is a cryptocurrency exchange and former Bitcoin cloud mining provider.</p>
                                </div> 
                            </a>
                        </div>
                        <div class="column card feat_card frame activeDealProduct">
                            <a href="https://gemini.com/" target="_blank" rel="noreferrer">
                                <div class="card-image">
                                    <figure class="image featimg is-square" style="width: auto;">
                                        <img src="/dist/img/buy-bitcoin/gemini.png" class="featimgs" alt="Gemini Logo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName" style="overflow: hidden;">Gemini</p>
                                        </div>
                                    </div>
                                    <p class="curr_text">Gemini Trust Company, LLC (Gemini) is a digital currency exchange and custodian that allows customers to buy, sell, and store digital assets.</p>
                                </div> 
                            </a>
                        </div>
                        <div class="column card feat_card frame activeDealProduct">
                            <a href="https://www.bitstamp.net/" target="_blank" rel="noreferrer">
                                <div class="card-image">
                                    <figure class="image featimg is-square" style="width: auto;">
                                        <img src="/dist/img/buy-bitcoin/bitstamp.png" class="featimgs" alt="Bitstamp Logo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName" style="overflow: hidden;">Bitstamp</p>
                                        </div>
                                    </div>
                                    <p class="curr_text">Buy and sell leading cryptocurrencies at Bitstamp – the world's longest-standing crypto exchange. Low fees, reliable service and simple setup.</p>
                                </div> 
                            </a>
                        </div>
                        <div class="column card feat_card frame activeDealProduct">
                            <a href="https://www.bitpanda.com/" target="_blank" rel="noreferrer">
                                <div class="card-image">
                                    <figure class="image featimg is-square" style="width: auto;">
                                        <img src="/dist/img/buy-bitcoin/bitpanda.png" class="featimgs" alt="Bitpanda Logo">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName" style="overflow: hidden;">Bitpanda</p>
                                        </div>
                                    </div>
                                    <p class="curr_text">Invest in Bitcoin, gold and over 20 other digital assets on your phone or desktop. Fast, secure and 24/7.</p>
                                </div> 
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<% include partials/footer %>