<% include partials/header %>
<div class="hero-body">
    <div class="container content frame">
    <h1 class="title has-text-centered">Frequently Asked Questions</h1>
        <ul class="list is-hoverable">
            <li class="list-item">
                <p><strong>How can I buy something on this website?</p></strong>
                <p>You'll need to create an account, deposit how much you wish to spend and start looking for deals!</p>
            </li>
            <li class="list-item">
                <p><strong>Where are you getting the Bitcoin rates from?</p></strong>
                <p>The Bitcoin rates are taken directly from Coinbase and everything altcoins related from CoinSwitch.</p>
            </li>
            <li class="list-item">
                <p><strong>How can I sell something on this website?</p></strong>
                <p>You'll need to create an account, update your user information and create a new deal.</p>
            </li>
            <li class="list-item">
                <p><strong>When can I withdraw my Bitcoin and how long will it take?</p></strong>
                <p>Withdrawals are sent within maximum 24 hours since the request has been made, in order to verify any suspicious requests.</p>
            </li>
            <li class="list-item">
                <p><strong>Is my Bitcoin secure after I deposit it on this website?</p></strong>
                <p>Most certainly! We credit your account after enough confirmations on the transaction, and every withdrawal request is checked. An email will be sent to your address every time, as well.</p>
            </li>
            <li class="list-item">
                <p><strong>Is there any way to promote my deals?</p></strong>
                <p>Simply visit the tokens section from your dashboard or navbar menu, and purchase tokens suitable to which type of promotion you desire.</p>
            </li>
            <li class="list-item">
                <p><strong>Is there any way to add products in bulk?</p></strong>
                <p>At the moment the only way to add products in bulk is to contact us requesting it, and we'll send you the information we require, as soon as possible.</p>
            </li>
            <li class="list-item">
                <p><strong>What's the estimated response time for contact emails?</p></strong>
                <p>Our company works 9 AM - 5 PM +3 GMT. Depending on how many emails there are and if you are a Premium User, you will receive an answer within those working hours.</p>
            </li>
            <li class="list-item">
                <p><strong>I'd like to partner with Deal Your Crypto to list my shop products, how can I do that?</p></strong>
                <p>Simply contact us mentioning all details regarding the partnership, and we'll discuss terms via email.</p>
            </li>
            <li class="list-item">
                <p><strong>I found a bug while browsing through the website, what should I do?</p></strong>
                <p>Contact us immediately about it by using the contact form or sending an email to support@dealyourcrypto.com</p>
            </li>
        </ul>
    </div>
</div>
<% include partials/footer %>