<% include partials/header %>

    <link rel="stylesheet" href="../dist/css/index.css">  
      
    <div class="hero-body">
    <div class="container content">
        <% include partials/slideshow %>
        <br>
        <br>
        <div class="columns">
            <div class="column">
                <h1>Featured Products</h1>
                <div class="columns firstcol">
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                   <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                </div>
                <div class="columns">
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                </div>
                <div class="columns">
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                    <div class="column card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    <p class="subtitle is-6">Price</p>
                                </div>
                            </div>
                            <div style="display: flex">
                                <p>BTC</p>
                                <p>ETH</p>
                                <p>LTC</p>
                                <p>DASH</p>
                                <p>BCH</p>
                            </div>

                        </div>                        
                    </div>
                </div>
                
                <div class="columns">
                        <div class="column card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        <p class="subtitle is-6">Price</p>
                                    </div>
                                </div>
                                <div style="display: flex">
                                    <p>BTC</p>
                                    <p>ETH</p>
                                    <p>LTC</p>
                                    <p>DASH</p>
                                    <p>BCH</p>
                                </div>
    
                            </div>                        
                        </div>
                        <div class="column card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        <p class="subtitle is-6">Price</p>
                                    </div>
                                </div>
                                <div style="display: flex">
                                    <p>BTC</p>
                                    <p>ETH</p>
                                    <p>LTC</p>
                                    <p>DASH</p>
                                    <p>BCH</p>
                                </div>
    
                            </div>                        
                        </div>
                        <div class="column card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        <p class="subtitle is-6">Price</p>
                                    </div>
                                </div>
                                <div style="display: flex">
                                    <p>BTC</p>
                                    <p>ETH</p>
                                    <p>LTC</p>
                                    <p>DASH</p>
                                    <p>BCH</p>
                                </div>
    
                            </div>                        
                        </div>
                        <div class="column card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        <p class="subtitle is-6">Price</p>
                                    </div>
                                </div>
                                <div style="display: flex">
                                    <p>BTC</p>
                                    <p>ETH</p>
                                    <p>LTC</p>
                                    <p>DASH</p>
                                    <p>BCH</p>
                                </div>
    
                            </div>                        
                        </div>
                    </div>
                    
                </div>
            </div>

            

            
        </div>
    </div>
</div>

<% include partials/footer %>