<% include partials/header %>

<link rel="stylesheet" href="../dist/css/index.css">  
<link rel="stylesheet" href="../dist/css/slideshow.css">

<div id="slider">
    <div class="slides">
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <a href="categories/Collectibles-Art">
            <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483374/collection.png" ></div></a>
        </div>
        </div>
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <a href="categories/MusicalInstruments-Gear">
                <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483375/music.png" ></div></a>
        </div>
        </div>
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <a href="categories/Sporting-Goods">
                <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483371/sport.png" ></div></a>
        </div>
        </div>
    </div>
    <div class="switch">
        <ul>
            <li>
            <div class="on"></div>
            </li>
            <li></li>
            <li></li>
        </ul>
        </div>
</div>

<div class="hero-body hero-content">
    <% if (products.docs.length === 0) { %>
        <p class="title">There are no promoted products yet.</p>
    <% } else { 
        if (products.docs.length > 20) { %>
            <div style="display: flex; justify-content: center; margin-bottom: 2vh;">
                <p class="subtitle" style="padding-top: 0.3vh;">Pages:</p> 
                <% include ./partials/paginateIndex %>
            </div>
        <% }
        } %>
        
        <div class="container columns" style="flex-wrap: wrap; justify-content: space-evenly; width: 50vw;"> 
        <% products.docs.forEach((product) => { %>
            <div class="column card feat_card" style="flex-grow: 0;">
                <a href="/products/<%= product._id %>/view">
                    <div class="card-image">
                        <figure class="image featimg">
                            <img src="<%= product.images[0].url %>" class="featimgs">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5 dealname"><%= product.name %> </p>
                            </div>
                        </div>
                        <div class="accepted_currencies">
                            <% if (product.accepted[0]) { %>
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                            <% } %>
                            <% if (product.accepted[1]) { %>
                            <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                            <% } %>
                            <% if (product.accepted[2]) { %>
                            <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                            <% } %>
                            <% if (product.accepted[3]) { %>
                            <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                            <% } %>
                            <% if (product.accepted[4]) { %>
                            <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            <% } %>
                        </div>
                    </div> 
                </a>      
            </div>
        <% }); %>
        </div>
</div>

<% include partials/footer %>
<script src="../dist/js/index.js"></script>