<% include partials/header %>

    <link rel="stylesheet" href="../dist/css/index.css">  
      
    <div class="hero-body">
    <div class="container is-fluid content">
        <% include partials/slideshow %>
        <br>
        <hr />
        <br>
        <div class="container columns">
            <div class="column">
                <h1>Featured Products</h1>
                <div class="columns firstcol">
                    <div class="column card feat_card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                            <a href="#"><button class="button is-primary view_details">View Details</button></a>

                        </div>                        
                    </div>
                    <div class="column card feat_card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                            <a href="#"><button class="button is-primary view_details">View Details</button></a>

                        </div>                        
                    </div>
                    <div class="column card feat_card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                <a href="#"><button class="button is-primary view_details">View Details</button></a>

                            </div>                        
                    </div>
                    <div class="column card feat_card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                <a href="#"><button class="button is-primary view_details">View Details</button></a>

                            </div>                        
                        </div>
                    </div>
                <div class="columns">
                    <div class="column card feat_card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                            <a href="#"><button class="button is-primary view_details">View Details</button></a>

                        </div>                        
                    </div>
                    <div class="column card feat_card">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../dist/img/blanc.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                            <a href="#"><button class="button is-primary view_details">View Details</button></a>

                        </div>                        
                    </div>
                    <div class="column card feat_card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                <a href="#"><button class="button is-primary view_details">View Details</button></a>

                            </div>                        
                    </div>
                    <div class="column card feat_card">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                <a href="#"><button class="button is-primary view_details">View Details</button></a>

                            </div>                        
                        </div>
                </div>
                
                    
            </div>

            

            
        </div>
    </div>
</div>

<% include partials/footer %>