<% include partials/header %>

    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/categories/products">Products</a></li>
        <li><a href="/dashboard/products">Dashboard products</a></li>
    </ul>

    <ul>
        <li></li>
    </ul>

<% include partials/footer %>