<% include partials/header %>

    <link rel="stylesheet" href="../dist/css/index.css">  
    <link rel="stylesheet" href="../dist/css/slideshow.css">

    <div id="slider">
        <div class="slides">
          <div class="slider">
            <div class="legend"></div>
            <div class="image">
             <a href="categories/Collectibles-Art">
                <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483374/collection.png" ></div></a>
            </div>
          </div>
          <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <a href="categories/MusicalInstruments-Gear">
                    <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483375/music.png" ></div></a>
            </div>
          </div>
          <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <a href="categories/Sporting-Goods">
                    <div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483371/sport.png" ></div></a>
            </div>
          </div>
        </div>
        <div class="switch">
            <ul>
              <li>
                <div class="on"></div>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
    </div>

    <div class="hero-body hero-content">
    <div class="content">
        <div class="container columns">
            <div class="column">
                <div class="columns firstcol">
                    <div class="column card feat_card">
                        <a href="">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg" class="featimgs">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                    
                            </div> 
                        </a>                       
                    </div>
                    <div class="column card feat_card">
                        <a href="">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg" class="featimgs">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                    
                            </div> 
                        </a>                       
                    </div>
                    <div class="column card feat_card">
                        <a href="">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg" class="featimgs">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                    
                            </div> 
                        </a>                       
                    </div>
                    <div class="column card feat_card">
                        <a href="">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg" class="featimgs">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                </div>
                                    
                            </div> 
                        </a>                       
                    </div>
                </div>
                <div class="columns firstcol">
                        <div class="column card feat_card">
                            <a href="">
                                <div class="card-image">
                                    <figure class="image featimg">
                                        <img src="../dist/img/blanc.jpg" class="featimgs">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        </div>
                                    </div>
                                    <div class="accepted_currencies">
                                        <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                        <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                        <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                        <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                        <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                    </div>
                                        
                                </div> 
                            </a>                       
                        </div>
                        <div class="column card feat_card">
                            <a href="">
                                <div class="card-image">
                                    <figure class="image featimg">
                                        <img src="../dist/img/blanc.jpg" class="featimgs">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        </div>
                                    </div>
                                    <div class="accepted_currencies">
                                        <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                        <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                        <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                        <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                        <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                    </div>
                                        
                                </div> 
                            </a>                       
                        </div>
                        <div class="column card feat_card">
                            <a href="">
                                <div class="card-image">
                                    <figure class="image featimg">
                                        <img src="../dist/img/blanc.jpg" class="featimgs">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        </div>
                                    </div>
                                    <div class="accepted_currencies">
                                        <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                        <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                        <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                        <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                        <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                    </div>
                                        
                                </div> 
                            </a>                       
                        </div>
                        <div class="column card feat_card">
                            <a href="">
                                <div class="card-image">
                                    <figure class="image featimg">
                                        <img src="../dist/img/blanc.jpg" class="featimgs">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                        </div>
                                    </div>
                                    <div class="accepted_currencies">
                                        <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                        <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                        <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                        <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                        <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                    </div>
                                        
                                </div> 
                            </a>                       
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>