<% include partials/header %>

    <link rel="stylesheet" href="../dist/css/index.css">    

   <!-- <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/categories/products">Products</a></li>
        <li><a href="/dashboard/products">Dashboard products</a></li>
    </ul>
    -->
    <div class="container content">
        <div class="columns">
            <div class="column is-three-quarters featured">
                <h1>Featured Products</h1>
                <div class="columns firstcol">
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                </div>
                <div class="columns">
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                </div>
                <div class="columns">
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                        <div class="column featured-item">
                            <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                            </figure>
                            <p>Name</p> 
                            <p>Price</p>                           
                        </div>
                </div>
                
            </div>

            <div class="column latest">
                <!-- TODO: make this shit scale and align properly -->
                <div class="latprod-title">
                    <h1>Latest Products</h1>
                </div>             
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="latest-item">
                    <figure class="image latestimg">
                        <img src="../dist/img/blanc.jpg">
                    </figure>
                    <div class="latest-details">
                        <p>Name</p>
                        <p>Price</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

<% include partials/footer %>