<% include partials/header %>
<div class="hero-body">
    <div class="container content frame">
    <h1 class="title has-text-centered">Shipping & Delivery</h1>
        <div class="column has-text-left">
            <p>
                <h3 class="subtitle">OVERVIEW</h3>

                Our policy lasts 14 days, considering we provided the shipping for the specific sale. If 14 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 1 - POLICY AVAILABILITY</h3>

                Our policy is not available for goods you have received from the seller in a face to face manner, or delivered by himself. The seller can have his own return policy, which will be subjected to laws accordingly.
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 2 - CONDITIONS</h3>

                If a buyer hasn't confirmed receiving the item after 21 days of the seller confirming delivery and providing proof of it, the transaction will be closed and the seller will receive the amount owed for the product. 

                To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.

                If we have provided shipping for the specific sale, the buyer has 14 days to request a refund.
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 3 - PROOF</h3>
                The buyer must provide proof of the damaged, wrong, etc. product in their refund request, to help with their case in case of a dispute.
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 4 - OBLIGATIONS</h3>
                The seller can choose whether or not to refund the purchase. In case they decline or don't respond within 7 days, a dispute will be created. Both the buyer and the seller will send information regarding their stance and the dispute will be solved by a staff member. 

                If the buyer's refund request is accepted, then they must send the product back to the seller. If the seller hasn't confirmed receiving the item after 21 days of the buyer confirming delivery and providing proof of it, the transaction will be closed and the buyer will receive the amount owed 
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 5 - RETURNS</h3>
                To return your product, you should send it to the original seller's address, or the one discussed with him.

                You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.

                Depending on where you live, the time it may take for your returned product to get back to the seller, may vary.
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 6 - CONTACT INFORMATION</h3>

                Questions about the Shipping & Delivery Policy should be sent to us at support@dealyourcrypto.com.
            </p>
        </div>
    </div>
</div>
<% include partials/footer %>