<% include partials/header %>
<div class="hero-body">
    <div class="container content frame">
    <h1 class="title has-text-centered">Shipping & Delivery</h1>
        <div class="column has-text-left">
            <p>
                <h3 class="subtitle">OVERVIEW</h3>
            
                <p>
                    Shipping & Delivery on Deal Your Crypto is stricly handled by sellers. 
                </p>
                <p>
                    We hold no responsibility regarding how/if the product reaches the seller. 
                </p>
                <p>
                    The platform we offer is simply a way to find other buyers/sellers interested in Bitcoin transactions.
                </p>

            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 1 - POLICY AVAILABILITY</h3>
                <p>
                    The seller can have his own return policy, which will be subjected to laws accordingly.
                </p>
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 2 - CONDITIONS</h3>
                <p>
                    If a buyer hasn't confirmed receiving the item after 21 days of the seller confirming delivery and providing proof of it, the deal will be closed and the seller will receive the amount owed for the product. 
                </p>
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 3 - OBLIGATIONS</h3>
                <p>
                    If the seller has provided the delivery/shipping, he is responsible for refunds, depending on his policy. 
                </p>
                <p>
                    If there is no policy stated by him, the local laws for refunds are applied.
                </p>
                <p>
                    Deal Your Crypto is in no way obligated to aid, pay or handle any dispute regarding the delivery of the product from seller to buyer.
                </p>
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 4 - RETURNS</h3>
                <p>
                    Returns must be discussed with the seller. If he doesn't accept returns, then local laws apply.
                </p>
                <p>
                    Usually, you will have to send the package back to him or meet with him in person.
                </p>
                <p>
                    Deal Your Crypto does not offer any refunds.
                </p>
            </p>
            <br>
            <p>
                <h3 class="subtitle">SECTION 5 - CONTACT INFORMATION</h3>

                Questions about the Shipping & Delivery Policy should be sent to us at support@dealyourcrypto.com.
            </p>
        </div>
    </div>
</div>
<% include partials/footer %>