<% include ../partials/header %>
<div class="notification">
    <button class="button is-link is-large" onclick="javascript:history.back()">TAKE ME BACK</button>
</div>

<div class="container">
    <div class="notification">
        <ul>
            <li>
            <a href="/categories/Collectibles-Art">Collectibles And Art</a>
            </li>
            <li>
            <a href="/categories/Home-Garden">Home and Garden</a>
            </li>
            <li>
            <a href="/categories/Sporting-Goods">Sporting Goods</a>
            </li>
            <li>
            <a href="/categories/Electronics">Electronics</a>
            </li>
            <li>
            <a href="/categories/AutoParts-Accessories">Auto Parts and Accessories</a>
            </li>
            <li>
            <a href="/categories/Toys-Hobbies">Toys and Hobbies</a>
            </li>
            <li>
            <a href="/categories/Fashion">Fashion</a>
            </li>
            <li>
            <a href="/categories/MusicalInstruments-Gear">Musical Instruments and Gear</a>
            </li>
            <li>
            <a href="/categories/Other">Other</a>
            </li>
        </ul>
    </div>
</div>

<% include ../partials/footer %>