<% include ../partials/header %>
<a href="/">
<button class="btn">Back</button>
</a>

<div class="row text-center flex-wrap">
<ul>
<li>Car</li>
<li>Clothes</li>
<li>Electronics</li>
<li>Diapers</li>
<li>Junk</li>
</ul>
</div>

<% include ../partials/footer %>