<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/categories.css">

<div class="hero-body">
    <div class="container ">
        <div class="columns">
            <div class="column is-one-fifth menu content">
                <p class="menu-label">
                    Categories
                </p>
                <ul class="menu-list">
                    <li>
                    <a href="/categories/Collectibles-Art">Collectibles And Art</a>
                    </li>
                    <li>
                    <a href="/categories/Home-Garden">Home and Garden</a>
                    </li>
                    <li>
                    <a href="/categories/Sporting-Goods">Sporting Goods</a>
                    </li>
                    <li>
                    <a href="/categories/Electronics">Electronics</a>
                    </li>
                    <li>
                    <a href="/categories/AutoParts-Accessories">Auto Parts and Accessories</a>
                    </li>
                    <li>
                    <a href="/categories/Toys-Hobbies">Toys and Hobbies</a>
                    </li>
                    <li>
                    <a href="/categories/Fashion">Fashion</a>
                    </li>
                    <li>
                    <a href="/categories/MusicalInstruments-Gear">Musical Instruments and Gear</a>
                    </li>
                    <li>
                    <a href="/categories/Other">Other</a>
                    </li>
                </ul>
            </div>

            <div class="column content">
                <p class="title is-4 categ_title">Shop By Category</p>
                <div class="columns categ_cards">
                    <div class="column card">
                        <a href="/categories/Collectibles-Art">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Collectibles and Art</p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>
                  
                    
                    <div class="column card">
                        <a href="/categories/Home-Garden">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Home and Garden</p>
                                    </div>
                                </div>
                            </div>    
                        </a>                    
                    </div>
                    
                    
                    <div class="column card">
                        <a href="/categories/Sporting-Goods">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Sporting Goods</p>
                                    </div>
                                </div>
                            </div>  
                        </a>                      
                    </div>
                    
                    
                    <div class="column card">
                        <a href="/categories/Electronics">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Electronics</p>
                                    </div>
                                </div>
                            </div> 
                        </a>                       
                    </div>
                    
                </div>
                <div class="columns categ_cards">
                    
                    <div class="column card">
                        <a href="/categories/AutoParts-Accessories">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Auto Parts and Accessories</p>
                                    </div>
                                </div>
                            </div> 
                        </a>                       
                    </div>
                    
                   
                    <div class="column card"> 
                        <a href="/categories/Toys-Hobbies">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Toys and Hobbies</p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>
                   
                    
                    <div class="column card">
                        <a href="/categories/Fashion">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Fashion</p>
                                    </div>
                                </div>
                            </div>     
                        </a>                    
                    </div>
                   
                    
                    <div class="column card">
                        <a href="/categories/MusicalInstruments-Gear">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Musical Instruments and Gear</p>
                                    </div>
                                </div>
                            </div>    
                        </a>                     
                    </div>
                   
                </div>
                <div class="columns categ_cards">
                    
                    <div class="column card">
                        <a href="/categories/Other">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">Other</p>
                                    </div>
                                </div>
                            </div>         
                        </a>                
                    </div>
                   
                   
                    <div class="column "> 
                        <!--<a href="">-->
                            <div class="card-image">
                                <figure class="image featimg">
                                <!-- <img src=""> -->      
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <!-- <p class="title is-5"></p>-->
                                    </div>
                                </div>
                            </div>     
                        <!--</a>-->                     
                    </div>
                  
                    
                    <div class="column ">
                        <!--<a href="">-->
                            <div class="card-image">
                                <figure class="image featimg">
                                <!-- <img src=""> -->      
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <!-- <p class="title is-5"></p>-->
                                    </div>
                                </div>
                            </div>  
                        <!--</a>-->                      
                    </div>
                   
                    
                    <div class="column ">
                        <!--<a href="">-->
                            <div class="card-image">
                                <figure class="image featimg">
                                <!-- <img src=""> -->      
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <!-- <p class="title is-5"></p>-->
                                    </div>
                                </div>
                            </div>  
                        <!--</a>-->                       
                    </div>
                   
                </div>
            </div>

        </div>


    </div>


</div>

<% include ../partials/footer %>