<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/contact.css">

<div class="hero-body">
    <div class="container content">
            <div class="columns toptitle">
                <div class="column">
                    <h1>Contact Us</h1>
                    <p>What can we help you with?</p>
                </div>
            </div>
            
            <div class="columns">
                <div class="column" >
                    <form action="/contact/send" method="POST">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input smmargin" name="name" placeholder="Your name" type="text" required  autofocus/>
                                <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                                </span>
                            </div>
                            </div>
                            <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input smmargin" name="email" placeholder="your@email.com" type="email" required />
                                <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            </div>
                        <label class="label">Topic</label>
                        <div class="select smmargin">
                                <select name="topic">
                                    <option value="General">General</option>
                                    <option value="Payments">Payments</option>
                                    <option value="Delivery">Delivery</option>
                                    <option value="Bugs">Bugs</option>
                                    <option value="Suggestions">Suggestions</option>
                                </select>
                        </div>
                        <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                </div>
                            </div>
                        <div class="control smmargin">
                            <button class="button is-primary is-large is-fullwidth">Send</button>
                        </div>
                    </form>       
                </div>
                <div class="column">
                        <div class="separator"></div>
                    </div>
                    <div class="column">
                            <h2>Check our FAQ out</h2>
                            <p><button class="button">Topic 1</button></p>
                            <p><button class="button">Topic 2</button></p>
                            <p><button class="button">Topic 3</button></p>
                            <p><button class="button">Topic 4</button></p>
                            <p><button class="button">Topic 5</button></p>
                    </div>
            </div>
    </div>
</div>
<% include ../partials/footer %>