<% include ../partials/header %>

<link rel="stylesheet" href="/dist/css/lognreg.css">
<link rel="stylesheet" href="/dist/css/parsley.css">

<div class="hero-body">
    <% if (errors) { %>
        <div class="notification is-danger container is-fluid" role="alert"> 
            <%= errors.msg %>
        </div>
    <% } %>
    <div class="container is-fluid">
        <% if (validationErrors) { %>
            <div class="notification is-danger" role="alert"> 
            <% validationErrors.forEach(function( err){ %>
                <%= err.msg %><br>
            <% }) %>
            </div>
        <% } %>
    </div>
    <div class="container content">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-fifths frame" >
                <p class="title">Contact</p>
                <% if (!user) { %>
                    <form action="/contact/send" method="POST" data-parsley-validate>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" name="name" placeholder="Your name" type="text" required  autofocus
                                maxlength="500" data-parsley-pattern="[a-zA-Z0-9 -]+"  data-parsley-pattern-message="The name contains invalid characters" 
                                data-parsley-trigger="change"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-tie"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" name="email" placeholder="your@email.com" type="email" required 
                                data-parsley-error-message="This email address is invalid" data-parsley-trigger="change"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field select cont-select">
                            <select name="topic" style="width: 100vw;">
                                <option value="General">General</option>
                                <option value="Payments">Payments</option>
                                <option value="Delivery">Delivery</option>
                                <option value="Bugs">Bugs</option>
                                <option value="Suggestions">Suggestions</option>
                            </select>
                        </div>
                        <div class="field" >
                            <div class="control">
                                <textarea class="textarea" name="message" placeholder="Message (2000 characters)" minlength="10" maxlength="2000" required></textarea>
                            </div>
                        </div>
                        <div class="column g-recaptcha" data-sitekey="6LdvYJcUAAAAAEIBbmyIYek6wtGPntd950QhErrh"></div>
                        <div class="control smmargin sendBtn">
                            <button class="button is-primary is-large is-fullwidth">Send</button>
                        </div>
                    </form>
                <% } else { %>
                    <form action="/contact/sendUser" method="POST">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" name="name" placeholder="Your name" type="text" value="<%= user.name %>" required autofocus
                                maxlength="500" data-parsley-pattern="[a-zA-Z0-9 -]+"  data-parsley-pattern-message="The name contains invalid characters" 
                                data-parsley-trigger="change"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-tie"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" name="email" placeholder="your@email.com" type="email" value="<%= user.email %>" required 
                                data-parsley-error-message="This email address is invalid" data-parsley-trigger="change"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input name="premium" type="text" value="<% if (premium) { %>Premium user - Support priority enabled<% } else { %>Standard user - No support priority<% } %>" class="input" required readonly>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-award"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field select cont-select">
                            <select name="topic" style="width: 100vw;">
                                <option value="General">General</option>
                                <option value="Payments">Payments</option>
                                <option value="Delivery">Delivery</option>
                                <option value="Bugs">Bugs</option>
                                <option value="Suggestions">Suggestions</option>
                            </select>
                        </div>
                        <div class="field" >
                            <div class="control">
                                <textarea class="textarea" name="message" placeholder="Message (2000 characters)" minlength="10" maxlength="2000" required></textarea>
                            </div>
                        </div>
                        <div class="column g-recaptcha" data-sitekey="6LdvYJcUAAAAAEIBbmyIYek6wtGPntd950QhErrh"></div>
                        <div class="control smmargin sendBtn">
                            <button class="button is-primary is-large is-fullwidth">Send</button>
                        </div>
                    </form>
                <% } %>
                <p class="smmargin" style="margin: auto;">Make sure to check out our FAQ <a class="link" href="/faq">here</a>.</p>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dist/js/parsley.min.js"></script>