<% include ../partials/header %>
<link rel="stylesheet" href="../../dist/css/lognreg.css">
<div class="hero-body">
    <% if (errors) { %>
        <div class="notification is-danger container is-fluid" role="alert"> 
            <%= errors.msg %>
        </div>
    <% } %>
    <div class="container content">    
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths frame">
                <h1 class="title">Sign In</h1>
                <div class="social-media">
                    <a href="/auth/facebook" class="btn-face">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="/auth/google" class="btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <form action="/login<% if (errors) { %>?errors=1<% } %>" method="POST" class="logSigForm">
                    <input class="input smmargin" name="username" placeholder="Username" type="text" required />
                    <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                    <div class="column" style="width: 90%; margin: auto;">
                        <label class="checkbox" class="title">
                            <input type="checkbox" name="remember"  >
                            Remember me
                        </label>
                        <div class="g-recaptcha" data-sitekey="6LdvYJcUAAAAAEIBbmyIYek6wtGPntd950QhErrh"></div>
                        <button class="button is-primary">Login</button>
                    </div>                    
                </form>
                <a href="/forgot" >Reset Password</a>
                <p>Not a member? <a href="/register">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<% if (errors) { %><script src="https://www.google.com/recaptcha/api.js" async defer></script><% } %>