<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/lognreg.css">
<div class="hero-body">
    <div class="container content">
                
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths lrform">
                <h1 style="color: orange;">Sign In</h1>
                <div class="social-media">
                    <a href="#" class="btn-face">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="#" class="btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <form action="/login" method="POST" style="padding-top: 3vh;">
                    <input class="input smmargin" name="username" placeholder="Username" type="text" required />
                    <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                    <div style="display: flex; justify-content: space-between; padding-top: 1rem;">
                        <label class="checkbox"style="padding-top: 0.65vh; color: orange">
                            <input type="checkbox" name="remember"  >
                                Remember me
                        </label>
                        <button class="button is-primary">Login</button>
                    </div>                    
                </form>
                <a href="/forgot" >Reset Password</a>
                <p style="color: orange;">Not a member? <a href="/register">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>