<% include ../partials/header %>
<link rel="stylesheet" href="../../dist/css/lognreg.css">
<div class="hero-body">
    <% if (errors) { %>
        <div class="notification is-danger container is-fluid" role="alert"> 
            <%= errors.msg %>
        </div>
    <% } %>
    <div class="container content">    
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths frame">
                <h1 class="title">Login</h1>
                <div class="social-media">
                    <a href="/auth/facebook" class="btn-face">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="/auth/google" class="btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <form action="/login<% if (errors) { %>?errors=1<% } %>" method="POST" class="logSigForm">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" name="username" placeholder="Username" type="text" required autofocus/>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-tie"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" name="password" placeholder="Password" type="password" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </p>
                    </div>
                    <div class="column" style="width: 90%; margin: auto;">
                        <input type="checkbox" name="remember" id="checkbox" class="is-checkradio is-info" >
                        <label for="checkbox" class="subtitle">Remember me</label>
                        <div class="g-recaptcha" data-sitekey="6LdvYJcUAAAAAEIBbmyIYek6wtGPntd950QhErrh"></div>
                        <button class="button is-primary">Log in</button>
                    </div>                    
                </form>
                <a href="/forgot" class="link" >Reset Password</a>
                <p>Not a member? <a href="/register" class="link" >Register here!</a></p>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<% if (errors) { %><script src="https://www.google.com/recaptcha/api.js" async defer></script><% } %>