<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/lognreg.css">
<div class="hero-body">
    <div class="container content">
        
        <div class="columns toptitle">
            <div class="column">
                <h1>Welcome to Deal Your Crypto</h1>
                <p>Sign in or <a href="/register">Register</a></p>
            </div>
        </div>
        
        <div class="columns">
            <div class="column" >
                <form action="/login" method="POST">
                    <input class="input smmargin" name="username" placeholder="Username" type="text" required />
                    <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                    <label class="checkbox">
                        <input type="checkbox">
                            Remember me
                    </label>
                    <div class="control smmargin">
                        <button class="button is-primary">Login</button>
                    </div>
                    
                </form>
                <a href="/forgot" >Reset Password</a>
                
            </div>
            <div class="column">
                <div class="separator"></div>
            </div>
            <div class="column">
                    <div class="control smmargin">
                        <button class="button is-primary" onclick="window.location.href='/auth/google'">Sign in with Google</button>
                    </div>
                    <div class="control smmargin">
                        <button class="button is-primary" onclick="window.location.href='/auth/facebook'">Sign in with Facebook</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>