<% include ../partials/header %>
<link rel="stylesheet" href="/../dist/css/index.css">  
<div class="hero-body">
    <div class="container content">
        <div class="columns" style="border-style: double; border-bottom-style: solid; border-color: orange; border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="column">
                <img src="../../dist/img/rollo.png" style="max-height: 200px; width: auto;">
            </div>
            <div class="column">
                <p class="subtitle">ABCD ABCD</p>
                <p class="subtitle">Rating: X/5 <i class="fas fa-star"></i></p>
                <p class="subtitle">Region: Europe</p>
            </div>
        </div>
        <div class="deals" >
            <p class="subtitle" style="text-align: center;">Active Deals</p>
            <div class="columns" style="justify-content: center;">
                <div class="column card feat_card" style="max-width: 250px;">
                    <a href="">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../../dist/img/blanc.jpg" class="featimgs">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                             
                        </div> 
                    </a>                       
                </div>
                <div class="column card feat_card">
                    <a href="">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../../dist/img/blanc.jpg" class="featimgs">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                             
                        </div> 
                    </a>                       
                </div>
                <div class="column card feat_card">
                    <a href="">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../../dist/img/blanc.jpg" class="featimgs">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                             
                        </div> 
                    </a>                       
                </div>
                <div class="column card feat_card">
                    <a href="">
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="../../dist/img/blanc.jpg" class="featimgs">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">asdfadsfd fdafdsafa das fdsa dsa dsa da </p>
                                </div>
                            </div>
                            <div class="accepted_currencies">
                                <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                            </div>
                             
                        </div> 
                    </a>                       
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>