<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/lognreg.css">

<div class="hero-body">
    <div class="container content">
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths lrform" >
                <h1 style="color: orange">Sign Up</h1>
                <div class="social-media">
                    <a href="#" class="btn-face">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="#" class="btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <form action="/register" method="POST">
                    <input class="input smmargin" name="email" placeholder="Email" autofocus type="email" required />
                    <input class="input smmargin" name="username" placeholder="Username" type="text" required />
                    <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                    <div class="control smmargin">
                        <button class="button is-primary">Register</button>
                    </div>
                </form>
                <p style="padding-top: 1vh; color: orange">Already a member? <a href="/login">Sign in here</a></p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>