<% include ../partials/header %>
<link rel="stylesheet" href="/dist/css/lognreg.css">
<link rel="stylesheet" href="/dist/css/registerTooltips.css">
<link rel="stylesheet" href="/dist/css/parsley.css">
<div class="hero-body">

    <div class="container is-fluid" style="margin-bottom: 3vh;">
        <% if(regErrors){ %>
            <div class="notification is-danger" role="alert"> 
            <% regErrors.forEach(function( err){ %>
                <%= err.msg %><br>
            <% }) %>
            </div>
        <% } %>
    </div>

    <% if(errors){ %>
        <div class="notification is-danger container is-fluid" role="alert"> 
            <%= errors.msg %>
        </div>
    <% } %>
    <div class="container content">
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths frame" >
                <h1 class="title">Register</h1>
                <div class="social-media">
                    <a href="/auth/facebook" class="btn-face">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="/auth/google" class="btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <form action="/register" method="POST" class="logSigForm" data-parsley-validate>
                    <div class="field">
                        <label class="label" for="email" style="text-align: left !important;">Email</label>
                        <p class="control has-icons-left">
                            <input class="input" name="email" id="email" placeholder="Email" autofocus type="email" data-parsley-trigger="change" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="username" style="text-align: left !important;">Username</label>
                        <p class="control has-icons-left">
                        <input class="input" name="username" id="username" placeholder="Username" type="text" data-parsley-type="alphanum" 
                            data-parsley-minlength="6" data-parsley-maxlength="32" data-parsley-minlength-message="The username is too short. It should have 6 characters or more." data-parsley-trigger="change" required />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-tie"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="password" style="text-align: left !important;">Password</label>
                        <p class="control has-icons-left">
                        <input class="input" name="password" id="password" placeholder="Password" type="password" required data-parsley-minlength="8" data-parsley-maxlength="64"
                            data-parsley-pattern="[a-zA-Z0-9 `!@#$%^&*()_\-=+,<>./?;:'\][{}\\|]+" data-parsley-trigger="change"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        </p>
                    </div>
                    <p class="help">
                        <input name="terms" type="checkbox" id="terms" class="is-checkradio is-info" required>
                        <label for="terms">
                        By registering an account, you agree to Deal Your Crypto's <a class="link" href="/terms-of-service" target="_blank" rel="noreferrer">terms</a> and <a class="link" href="/privacy-policy" target="_blank" rel="noreferrer">privacy policy</a>.
                        </label>
                    </p>
                    <!-- Uncomment when testing is done -->
                    <!-- <div style="display: flex; justify-content: space-around;">
                        <div class="field" style="width: 85%;">
                            <p class="control has-icons-left">
                            <input class="input" name="vfPassword" placeholder="Verify Password" type="password" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            </p>
                        </div>
                    </div> -->
                    <div class="control" style="margin-top: 1.5vh;">
                        <div class="g-recaptcha" data-sitekey="6LdvYJcUAAAAAEIBbmyIYek6wtGPntd950QhErrh"></div>
                        <button class="button is-primary">Register</button>
                    </div>
                </form>
                <p style="padding-top: 1vh;">Already a member? <a class="link" href="/login">Log in here</a></p>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dist/js/parsley.min.js"></script>
<% include ../partials/footer %>
