<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/lognreg.css">

<div class="container content">
    <div class="columns toptitle">
        <div class="column">
            <h1>Welcome to Deal Your Crypto</h1>
            <p>Register or <a href="/login">Sign In</a></p>
        </div>
    </div>

    <div class="columns">
            <div class="column" >
                <form action="/register" method="POST">
                    <input class="input smmargin" name="email" placeholder="Email" autofocus type="email" required />
                    <input class="input smmargin" name="username" placeholder="Username" type="text" required />
                    <input class="input smmargin" name="password" placeholder="Password" type="password" required />
                    <div class="control smmargin">
                        <button class="button is-primary">Register</button>
                    </div>
                </form>
            </div>

            <div class="column">
                    <div class="separator"></div>
            </div>
            <div class="column">
                    <div class="control smmargin">
                        <button class="button is-primary" onclick="window.location.href='/auth/google'">Sign in with Google</button>
                    </div>
                    <div class="control smmargin">
                        <button class="button is-primary" onclick="window.location.href='/auth/facebook'">Sign in with Facebook</button>
                    </div>
            </div>
    </div>

<% include ../partials/footer %>