<% include ../partials/header %>

<link rel="stylesheet" href="../../dist/css/lognreg.css">
<div class="hero-body">
    <div class="container content">
        
        <div class="columns toptitle">
            <div class="column">
                <h1>Change Your Email</h1>
                <form action="/resetemail/<%= token %>" method="POST">
                    <input class="input smmargin" name="email" placeholder="New email" type="email" required autofocus />
                    <input class="input smmargin" name="confirm" placeholder="Confirm email" type="email" required />
                    <div class="control smmargin">
                        <button class="button is-primary">Update Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>