<% include ../partials/header %>

<link rel="stylesheet" href="/dist/css/lognreg.css">
<div class="hero-body">
    <div class="container content">
                
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths lrform">
                <h1 style="color: orange;">Check your phone</h1>
                <form action="/login/verify" method="POST" style="padding-top: 3vh;">
                    <div class="verifyDiv">
                        <input name="pin" type="number" placeholder="1234" required />
                        <input name="requestId" type="hidden" value="<%= requestId %>" >
                        <input name="username" type="hidden" value="<%= username %>" >
                        <input name="password" type="hidden" value="<%= password %>" >
                        <button class="button is-primary">Verify PIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>