<% include ../partials/header %>

<link rel="stylesheet" href="/dist/css/lognreg.css">
<div class="hero-body">
    <div class="container content">       
        <div class="columns" style="justify-content: center">
            <div class="column is-three-fifths frame">
                <h1 style="margin-top: 1vh;">Verify Number</h1>
                <br>
                <p class="subtitle is-5">Input your verification number to activate two-factor authentication.</p>
                <form action="/verify" method="POST" class="verifyForm">
                    <input name="pin" type="number" placeholder="1234" class="input" style="width: 80%;" required />
                    <input name="requestId" type="hidden" value="<%= requestId %>" required>
                    <input name="number" type="hidden" value="<%= number %>" required>
                    <button class="button is-primary">Verify PIN</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>